doctype html
html(lang="en" style="overflow-x:hidden;")
    head
        block head
            meta(charset="UTF-8")
            meta(name="theme-color" content="#171717")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title #{pageTitle} - #{settings.site_title} 
            link(rel="apple-touch-icon" href="/imgs/192.png")
            link(rel="manifest" href="/manifest.json")
            link(rel="stylesheet" href="/dist/app.min.css?v=30")
            script(type="text/javascript" src="/dist/bundle.min.js?v=43")
    body.myanimev3
        block body
            script(type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-128377757-1")
            - if(isFooter !== false) isFooter = true     
            div.main
                if(isMobile)
                    #ma-overlay.ma-sidebar-overlay-mobile
                    .ma-mobile-container.adapt-mobile
                        .page-wrapper.chiller-theme
                            include ../components/sidebarMenu-2
                            include ../components/navbar 
                            main
                                .container.ma-container-mobile
                                    .alert.alert-primary(role='alert')
                                        | !{settings.noti}
                                block content
                            if(isFooter)
                                include ../components/footer
                else
                    .ma-desktop-container
                        .page-wrapper.chiller-theme.toggled
                            include ../components/sidebarMenu-2
                            include ../components/navbar
                            .ma-desktop-content
                                main.page-content
                                    .container
                                        .alert.alert-primary(role='alert')
                                            | !{settings.noti}
                                    block content
                            if(isFooter)
                                include ../components/footer
