<!DOCTYPE html>
html(lang="en" style="overflow-x:hidden;")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title #{pageTitle} - #{settings.site_title}
            link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
            link(rel="stylesheet" href="/mod/jquery@3.4.1/jquery-ui.min.css")
            link(rel="stylesheet" href="/mod/bootstrap/css/bootstrap.min.css")
            link(rel="stylesheet" href="/css/custom.min.css")
            link(rel="stylesheet" href="/mod/slick@1.8.1/slick.min.css")
            link(rel="manifest" href="/manifest.json")
    body.myanimev3
        block body
            script(type="text/javascript" src="/js/service.min.js")
            script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
            script(type="text/javascript" src="/mod/jquery@3.4.1/jquery-3.4.1.min.js")
            script(type="text/javascript" src="/mod/jquery@3.4.1/jquery-ui.min.js")
            script(type="text/javascript" src="/mod/slick@1.8.1/slick.min.js")
            script(type="text/javascript" src="/mod/bootstrap/js/bootstrap.min.js")
            script(type="text/javascript" src="/js/custom.min.js")
            - if(isFooter !== false) isFooter = true
            if(isMobile)
                div.main
                    #ma-overlay.ma-sidebar-overlay-mobile
                    .ma-mobile-container.adapt-mobile
                        .page-wrapper.chiller-theme
                            include ../components/sidebarMenu
                            include ../components/navbar 
                            main
                                block content
                            if(isFooter)
                                include ../components/footer
            else
                div.main
                    .ma-desktop-container
                        .page-wrapper.chiller-theme.toggled
                            include ../components/sidebarMenu
                            include ../components/navbar
                            .ma-desktop-content
                                main.page-content
                                    block content
                            if(isFooter)
                                include ../components/footer