.ma-episode-list-container-recommend
    section
        h2.ma-episode-list-recommend-title-card-list-section.ma-episode-list-recommend-title-card-list-section-mobile
            span &#x3053;&#x3061;&#x3089;&#x3082;&#x30AA;&#x30B9;&#x30B9;&#x30E1;
        - var id = "recommend"
        - var data = items    
        include ./cardList