.ma-episode-list-container-recommend
    section
        h2.ma-episode-list-recommend-title-card-list-section.ma-episode-list-recommend-title-card-list-section-mobile
            span Recommend
        - var id = "recommend"
        include ./cardList