.ma-episode-list-container-recommend
    section
        h2.ma-episode-list-recommend-title-card-list-section
            span &#x3053;&#x3061;&#x3089;&#x3082;&#x30AA;&#x30B9;&#x30B9;&#x30E1;
        .ma-card-list-column(role='list')
            .ma-card-list-column-row
                each val in [1, 2, 3, 4]
                    .ma-card-list-column-item(role='listitem' style='width: calc(25%);')
                        .ma-card
                            a.ma-link-block.ma-outline(href='/anime/1' tabindex='0' aria-hidden='false' aria-disabled='false')
                                .ma-card-inner
                                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                                        img.ma-m-thumbnail-image(alt='ソマリと森の神様' srcset='https://hayabusa.io/abema/series/481-2/thumb.v1583487903.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/abema/series/481-2/thumb.v1583487903.png??width=484&height=272&quality=50&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/481-2/thumb.v1583487903.png??width=242&height=136&quality=50&format=webp')
                                    .ma-card-list-column-caption
                                        .ma-card-list-column-caption-inner
                                            p.ma-card-title
                                                span.ma-collapsed-text-container(style='line-height: 1.5; max-height: 1.5em; -webkit-line-clamp: 1;') Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iure praesentium, vitae molestiae sed quaerat perferendis magni voluptas nobis in saepe eos delectus doloribus, adipisci porro sint fugit temporibus quo!
                                            p.ma-newest-label New Episode
            .ma-card-list-column-row
                each val in [1, 2, 3, 4]
                    .ma-card-list-column-item(role='listitem' style='width: calc(25%);')
                        .ma-card
                            a.ma-link-block.ma-outline(href='/anime/1' tabindex='0' aria-hidden='false' aria-disabled='false')
                                .ma-card-inner
                                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                                        img.ma-m-thumbnail-image(alt='ソマリと森の神様' srcset='https://hayabusa.io/abema/series/481-2/thumb.v1583487903.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/abema/series/481-2/thumb.v1583487903.png??width=484&height=272&quality=50&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/481-2/thumb.v1583487903.png??width=242&height=136&quality=50&format=webp')
                                    .ma-card-list-column-caption
                                        .ma-card-list-column-caption-inner
                                            p.ma-card-title
                                                span.ma-collapsed-text-container(style='line-height: 1.5; max-height: 1.5em; -webkit-line-clamp: 1;') Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iure praesentium, vitae molestiae sed quaerat perferendis magni voluptas nobis in saepe eos delectus doloribus, adipisci porro sint fugit temporibus quo!
                                            p.ma-newest-label New Episode