.ma-anime-info
    .ma-anime-section
        .ma-anime-thumb-info-column
            .ma-anime-thumb-info
                img.ma-anime-thumb-image(alt='地縛少年花子くん' srcset='https://abm.hayabusa.media/series/189-17/portrait.png%3Fversion%3D1577347356?width=240&height=341&quality=85&format=jpg 1x, https://abm.hayabusa.media/series/189-17/portrait.png%3Fversion%3D1577347356?width=480&height=682&quality=85&format=jpg 2x' src='https://abm.hayabusa.media/series/189-17/portrait.png%3Fversion%3D1577347356?width=240&height=341&quality=85&format=jpg')
        .ma-anime-details-info
            h1.ma-anime-title-info Chi Baku Shounen Hanako Kun
            p.ma-anime-genre-info Comedy, School, Supernatural
            p.ma-anime-caption-info Toilet-bound Hanako-kun, 地縛少年花子くん
            #ma-readmore-content-info.ma-anime-content-info(data-trigger='false')
                p.ma-anime-content-section-info.ma-readmore 
                    | The famous "Seven Wonders" that every school seems to have are a staple of Japanese urban legends. One of the most well-known of these tales is that of Hanako-san: the ghost of a young girl who haunts the school's bathrooms.
                    | Kamome Academy has its own version of Hanako-san's legend. Rumors claim that if one successfully manages to summon Hanako-san, she will grant her summoner any wish. Lured by the gossip, many people have tried to call upon her, yet every attempt has failed. However, when Nene Yashiro, a girl hoping for romantic fortune, dares to summon Hanako-san, she discovers that the rumored "girl" is actually a boy!
                    | After a series of unfortunate events involving Nene's romantic desires, she is unwillingly entangled in the world of the supernatural, becoming Hanako-kun's assistant. Soon, she finds out about Hanako-kun's lesser-known duty: maintaining the fragile balance between mortals and apparitions.
                    | [Written by MAL Rewrite]
            div.ma-readmore-button-section
                div#ma-readmore-button.btn.ma-readmore-button(type='button') Show more
            .ma-share
                ul.ma-share-container
                    li.ma-share-item(tabindex='-1')
                        .ma-share-button-section
                            div.btn.ma-share-twitter-button(aria-label='Twitter' type='button' tabindex='-1')
                                svg.ma-share-twitter-icon(aria-label='')
                                    use(xlink:href='/imgs/icons/twitter.svg?v=v20.227.5#svg-body')
                        span.ma-share-label Twitter
                    li.ma-share-item(tabindex='-1')
                        .ma-share-button-section
                            div.btn.ma-share-facebook-button(aria-label='Facebook' type='button' tabindex='-1')
                                svg.ma-share-facebook-icon(aria-label='')
                                    use(xlink:href='/imgs/icons/facebook.svg?v=v20.227.5#svg-body')
                        span.ma-share-label Facebook