.card.ma-card
    a.ma-link-block(href="/anime/1")
        img.card-img-top(src=img_url alt=title)
        .card-body
            h5.card-title.ma-card-title
                span.ma-1-line-text #{title}
            p.card-text.ma-newest-label New Episode