.ma-card-list-column.ma-card-list-column-mobile(role='list')
  .ma-card-list-column-row.ma-card-list-column-row-mobile
    .ma-card-list-column-item.ma-card-list-column-item-mobile(role='listitem', style='width: calc(50%);')
      .ma-card
        a.ma-link-block(tabindex='0', aria-hidden='false', aria-disabled='false', href='/title/25-139')
          .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
              img.ma-m-thumbnail-image(alt='【地上波先行・無料最速】Re:ゼロから始める異世界生活', srcset='https://hayabusa.io/adcross/adx/abm/022ada36-ce97-4b0f-b0ef-e167af731a3d.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/adcross/adx/abm/022ada36-ce97-4b0f-b0ef-e167af731a3d.png??width=484&height=272&quality=50&format=webp 2x', loading='lazy', src='https://hayabusa.io/adcross/adx/abm/022ada36-ce97-4b0f-b0ef-e167af731a3d.png??width=242&height=136&quality=50&format=webp')
              .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                span.ma-m-play-icon
                  svg.ma-symbol(aria-label='', width='100%', height='100%', role='img', focusable='false')
                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
            .ma-card-list-column-caption.ma-card-list-column-caption-mobile
              .ma-card-list-column-caption-inner
                p.ma-card-title.ma-card-title-mobile
                  span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 1.3em; -webkit-line-clamp: 1;') &#x3010;&#x5730;&#x4E0A;&#x6CE2;&#x5148;&#x884C;&#x30FB;&#x7121;&#x6599;&#x6700;&#x901F;&#x3011;Re:&#x30BC;&#x30ED;&#x304B;&#x3089;&#x59CB;&#x3081;&#x308B;&#x7570;&#x4E16;&#x754C;&#x751F;&#x6D3B;
                p.ma-newest-label.ma-newest-label-mobile &#x65B0;&#x7740;&#x30A8;&#x30D4;&#x30BD;&#x30FC;&#x30C9;
    .ma-card-list-column-item.ma-card-list-column-item-mobile(role='listitem', style='width: calc(50%);')
      .ma-card
        a.ma-link-block(tabindex='0', aria-hidden='false', aria-disabled='false', href='/title/25-138')
          .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
              img.ma-m-thumbnail-image(alt='【地上波先行・独占先行】異世界かるてっと２', srcset='https://hayabusa.io/adcross/adx/abm/d7e3a9d2-a9e0-4ba7-988f-4eeebded8d66.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/adcross/adx/abm/d7e3a9d2-a9e0-4ba7-988f-4eeebded8d66.png??width=484&height=272&quality=50&format=webp 2x', loading='lazy', src='https://hayabusa.io/adcross/adx/abm/d7e3a9d2-a9e0-4ba7-988f-4eeebded8d66.png??width=242&height=136&quality=50&format=webp')
              .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                span.ma-m-play-icon
                  svg.ma-symbol(aria-label='', width='100%', height='100%', role='img', focusable='false')
                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
            .ma-card-list-column-caption.ma-card-list-column-caption-mobile
              .ma-card-list-column-caption-inner
                p.ma-card-title.ma-card-title-mobile
                  span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') &#x3010;&#x5730;&#x4E0A;&#x6CE2;&#x5148;&#x884C;&#x30FB;&#x72EC;&#x5360;&#x5148;&#x884C;&#x3011;&#x7570;&#x4E16;&#x754C;&#x304B;&#x308B;&#x3066;&#x3063;&#x3068;&#xFF12;
  .ma-card-list-column-row.ma-card-list-column-row-mobile
    .ma-card-list-column-item.ma-card-list-column-item-mobile(role='listitem', style='width: calc(50%);')
      .ma-card
        a.ma-link-block(tabindex='0', aria-hidden='false', aria-disabled='false', href='/title/189-17')
          .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
              img.ma-m-thumbnail-image(alt='【WEB最速・無料最速】地縛少年花子くん', srcset='https://hayabusa.io/abema/series/189-17/thumb.v1583405402.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/abema/series/189-17/thumb.v1583405402.png??width=484&height=272&quality=50&format=webp 2x', loading='lazy', src='https://hayabusa.io/abema/series/189-17/thumb.v1583405402.png??width=242&height=136&quality=50&format=webp')
              .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                span.ma-m-play-icon
                  svg.ma-symbol(aria-label='', width='100%', height='100%', role='img', focusable='false')
                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
            .ma-card-list-column-caption.ma-card-list-column-caption-mobile
              .ma-card-list-column-caption-inner
                p.ma-card-title.ma-card-title-mobile
                  span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 1.3em; -webkit-line-clamp: 1;') &#x3010;WEB&#x6700;&#x901F;&#x30FB;&#x7121;&#x6599;&#x6700;&#x901F;&#x3011;&#x5730;&#x7E1B;&#x5C11;&#x5E74;&#x82B1;&#x5B50;&#x304F;&#x3093;
                p.ma-newest-label.ma-newest-label-mobile &#x65B0;&#x7740;&#x30A8;&#x30D4;&#x30BD;&#x30FC;&#x30C9;
    .ma-card-list-column-item.ma-card-list-column-item-mobile(role='listitem', style='width: calc(50%);')
      .ma-card
        a.ma-link-block(tabindex='0', aria-hidden='false', aria-disabled='false', href='/title/25-29e8u2y9ih4h')
          .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
              img.ma-m-thumbnail-image(alt='【全話無料配信中！】僕は友達が少ないNEXT', srcset='https://hayabusa.io/abema/series/25-29e8u2y9ih4h/thumb.v1582767024.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/abema/series/25-29e8u2y9ih4h/thumb.v1582767024.png??width=484&height=272&quality=50&format=webp 2x', loading='lazy', src='https://hayabusa.io/abema/series/25-29e8u2y9ih4h/thumb.v1582767024.png??width=242&height=136&quality=50&format=webp')
              .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                span.ma-m-play-icon
                  svg.ma-symbol(aria-label='', width='100%', height='100%', role='img', focusable='false')
                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
            .ma-card-list-column-caption.ma-card-list-column-caption-mobile
              .ma-card-list-column-caption-inner
                p.ma-card-title.ma-card-title-mobile
                  span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') &#x3010;&#x5168;&#x8A71;&#x7121;&#x6599;&#x914D;&#x4FE1;&#x4E2D;&#xFF01;&#x3011;&#x50D5;&#x306F;&#x53CB;&#x9054;&#x304C;&#x5C11;&#x306A;&#x3044;NEXT
  .ma-card-list-column-row.ma-card-list-column-row-mobile
    .ma-card-list-column-item.ma-card-list-column-item-mobile(role='listitem', style='width: calc(50%);')
      .ma-card
        a.ma-link-block(tabindex='0', aria-hidden='false', aria-disabled='false', href='/title/12-18')
          .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
              img.ma-m-thumbnail-image(alt='【新入荷】映画クレヨンしんちゃん', srcset='https://hayabusa.io/abema/series/12-18/thumb.v1583387704.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/abema/series/12-18/thumb.v1583387704.png??width=484&height=272&quality=50&format=webp 2x', loading='lazy', src='https://hayabusa.io/abema/series/12-18/thumb.v1583387704.png??width=242&height=136&quality=50&format=webp')
              .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                span.ma-m-play-icon
                  svg.ma-symbol(aria-label='', width='100%', height='100%', role='img', focusable='false')
                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
            .ma-card-list-column-caption.ma-card-list-column-caption-mobile
              .ma-card-list-column-caption-inner
                p.ma-card-title.ma-card-title-mobile
                  span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') &#x3010;&#x65B0;&#x5165;&#x8377;&#x3011;&#x6620;&#x753B;&#x30AF;&#x30EC;&#x30E8;&#x30F3;&#x3057;&#x3093;&#x3061;&#x3083;&#x3093;
    .ma-card-list-column-item.ma-card-list-column-item-mobile(role='listitem', style='width: calc(50%);')
      .ma-card
        a.ma-link-block(tabindex='0', aria-hidden='false', aria-disabled='false', href='/title/115-68')
          .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
              img.ma-m-thumbnail-image(alt='あひるの空', srcset='https://hayabusa.io/abema/series/115-68/thumb.v1583311205.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/abema/series/115-68/thumb.v1583311205.png??width=484&height=272&quality=50&format=webp 2x', loading='lazy', src='https://hayabusa.io/abema/series/115-68/thumb.v1583311205.png??width=242&height=136&quality=50&format=webp')
              .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                span.ma-m-play-icon
                  svg.ma-symbol(aria-label='', width='100%', height='100%', role='img', focusable='false')
                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
            .ma-card-list-column-caption.ma-card-list-column-caption-mobile
              .ma-card-list-column-caption-inner
                p.ma-card-title.ma-card-title-mobile
                  span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 1.3em; -webkit-line-clamp: 1;') &#x3042;&#x3072;&#x308B;&#x306E;&#x7A7A;
                p.ma-newest-label.ma-newest-label-mobile &#x65B0;&#x7740;&#x30A8;&#x30D4;&#x30BD;&#x30FC;&#x30C9;
  .ma-card-list-column-row.ma-card-list-column-row-mobile
    .ma-card-list-column-item.ma-card-list-column-item-mobile(role='listitem', style='width: calc(50%);')
      .ma-card
        a.ma-link-block(tabindex='0', aria-hidden='false', aria-disabled='false', href='/title/11-3')
          .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
              img.ma-m-thumbnail-image(alt='DRIFTERS', srcset='https://hayabusa.io/abema/series/11-3/thumb.v1583303102.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/abema/series/11-3/thumb.v1583303102.png??width=484&height=272&quality=50&format=webp 2x', loading='lazy', src='https://hayabusa.io/abema/series/11-3/thumb.v1583303102.png??width=242&height=136&quality=50&format=webp')
              .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                span.ma-m-play-icon
                  svg.ma-symbol(aria-label='', width='100%', height='100%', role='img', focusable='false')
                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
            .ma-card-list-column-caption.ma-card-list-column-caption-mobile
              .ma-card-list-column-caption-inner
                p.ma-card-title.ma-card-title-mobile
                  span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') DRIFTERS
    .ma-card-list-column-item.ma-card-list-column-item-mobile(role='listitem', style='width: calc(50%);')
      .ma-card
        a.ma-link-block(tabindex='0', aria-hidden='false', aria-disabled='false', href='/title/420-11')
          .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
              img.ma-m-thumbnail-image(alt='転生したらスライムだった件', srcset='https://hayabusa.io/abema/series/420-11/thumb.v1582724286.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/abema/series/420-11/thumb.v1582724286.png??width=484&height=272&quality=50&format=webp 2x', loading='lazy', src='https://hayabusa.io/abema/series/420-11/thumb.v1582724286.png??width=242&height=136&quality=50&format=webp')
              .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                span.ma-m-play-icon
                  svg.ma-symbol(aria-label='', width='100%', height='100%', role='img', focusable='false')
                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
            .ma-card-list-column-caption.ma-card-list-column-caption-mobile
              .ma-card-list-column-caption-inner
                p.ma-card-title.ma-card-title-mobile
                  span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') &#x8EE2;&#x751F;&#x3057;&#x305F;&#x3089;&#x30B9;&#x30E9;&#x30A4;&#x30E0;&#x3060;&#x3063;&#x305F;&#x4EF6;
  .ma-card-list-column-row.ma-card-list-column-row-mobile
    .ma-card-list-column-item.ma-card-list-column-item-mobile(role='listitem', style='width: calc(50%);')
      .ma-card
        a.ma-link-block(tabindex='0', aria-hidden='false', aria-disabled='false', href='/title/25-102')
          .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
              img.ma-m-thumbnail-image(alt='ソードアート・オンライン アリシゼーション', srcset='https://hayabusa.io/abema/series/25-102/thumb.v1583206239.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/abema/series/25-102/thumb.v1583206239.png??width=484&height=272&quality=50&format=webp 2x', loading='lazy', src='https://hayabusa.io/abema/series/25-102/thumb.v1583206239.png??width=242&height=136&quality=50&format=webp')
              .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                span.ma-m-play-icon
                  svg.ma-symbol(aria-label='', width='100%', height='100%', role='img', focusable='false')
                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
            .ma-card-list-column-caption.ma-card-list-column-caption-mobile
              .ma-card-list-column-caption-inner
                p.ma-card-title.ma-card-title-mobile
                  span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 1.3em; -webkit-line-clamp: 1;') &#x30BD;&#x30FC;&#x30C9;&#x30A2;&#x30FC;&#x30C8;&#x30FB;&#x30AA;&#x30F3;&#x30E9;&#x30A4;&#x30F3; &#x30A2;&#x30EA;&#x30B7;&#x30BC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;
                p.ma-newest-label.ma-newest-label-mobile &#x65B0;&#x7740;&#x30A8;&#x30D4;&#x30BD;&#x30FC;&#x30C9;
    .ma-card-list-column-item.ma-card-list-column-item-mobile(role='listitem', style='width: calc(50%);')
      .ma-card
        a.ma-link-block(tabindex='0', aria-hidden='false', aria-disabled='false', href='https://new-program.abema.tv/pages/2459550/animation-wednesday')
          .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
              img.ma-m-thumbnail-image(alt='ビデオ更新情報はコチラから！', srcset='https://hayabusa.io/adcross/adx/abm/b7eae665-45d0-4e48-8922-44d93ef925ea.png??width=242&height=136&quality=50&format=webp 1x, https://hayabusa.io/adcross/adx/abm/b7eae665-45d0-4e48-8922-44d93ef925ea.png??width=484&height=272&quality=50&format=webp 2x', loading='lazy', src='https://hayabusa.io/adcross/adx/abm/b7eae665-45d0-4e48-8922-44d93ef925ea.png??width=242&height=136&quality=50&format=webp')
              .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                span.ma-m-play-icon
                  svg.ma-symbol(aria-label='', width='100%', height='100%', role='img', focusable='false')
                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
            .ma-card-list-column-caption.ma-card-list-column-caption-mobile
              .ma-card-list-column-caption-inner
                p.ma-card-title.ma-card-title-mobile
                  span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') &#x30D3;&#x30C7;&#x30AA;&#x66F4;&#x65B0;&#x60C5;&#x5831;&#x306F;&#x30B3;&#x30C1;&#x30E9;&#x304B;&#x3089;&#xFF01;