#{"div id=" +id }
    each val in data
        .ma-carousel-card-wrapper
            - var index = val.item_id
            - var {title, slug, img_url} = val
            - img_url = img_url + "?width=484&height=272&quality=50&format=webp"
                include ./cardLarge
script.
    var id = "#{id}"
    carouselCallback(id, 4)

