#{"div id=" +id }
    - var threeArray = data.reduce(function(result, value, index, array) {
    -       value.rank = index + 1
    -       if (index % 3 === 0) result.push(array.slice(index, index + 3));
    -       return result;
    -   }, []);
    each val in threeArray
        .col
            each item in val
                .d-flex.flex-column
                    - var {title, anime_id, thumb, slug, rank} = item
                        include ./cardSmall
script.
    var id = "#{id}"
    carouselCallback(id, 5, 3, 2, 2)