.ma-episode-details-container
    section.ma-episode-section-mobile
        .ma-episode-section-main-mobile
            header.ma-episode-section-header-mobile
                div.btn.ma-episode-section-header-inner-mobile
                    .ma-episode-section-header-texts
                        .ma-episode-details-title-block
                            p.ma-episode-details-anime-title.ma-episode-details-anime-title-mobile Re:&#x30BC;&#x30ED;&#x304B;&#x3089;&#x59CB;&#x3081;&#x308B;&#x7570;&#x4E16;&#x754C;&#x751F;&#x6D3B; | &#x672C;&#x7DE8;
                            h1.ma-episode-details-title.ma-episode-details-title-mobile &#x7B2C;5&#x8A71; &#x7D04;&#x675F;&#x3057;&#x305F;&#x671D;&#x306F;&#x9060;&#x304F;
                            p.ma-episode-details-supplement.ma-episode-details-supplement-mobile
                                span.ma-episode-details-supplement-item 25&#x5206;
                                span.ma-episode-details-supplement-item 82.8k&#x8996;&#x8074;
                                span.ma-episode-details-supplement-item 2020&#x5E74;
                            p.ma-episode-details-lang-text.ma-episode-details-lang-text-mobile
                                span.ma-episode-list-lang-text
                                    span.ma-episode-list-lang-label.ma-episode-list-lang-label-mobile &#x30D7;&#x30EC;&#x30DF;&#x30A2;&#x30E0;
                    .ma-readmore-button-section-mobile
                        svg#ma-dropdown-details.ma-episode-details-dropdown.ma-episode-details-dropdown-collapsed(height='100%' role='img' width='100%')
                            use(xlink:href='/imgs/icons/dropdown.svg#svg-body')
            .ma-episode-section-details-mobile.ma-episode-section-details-mobile-collapsed(aria-hidden='true')
                #ma-readmore-content-info
                    .ma-episode-details-readmore-block
                        section.ma-episode-details-readmore-block-section
                            h2.ma-episode-details-readmore-block-title.ma-font-15.ma-color-e6
                                span &#x8A73;&#x7D30;&#x60C5;&#x5831;
                        section.ma-episode-details-readmore-block-section.ma-episode-details-readmore-block-thumbnails
                            .ma-episode-details-readmore-block-thumbnail.ma-m-thumbnail
                                img.ma-m-thumbnail-image(alt='' srcset='https://hayabusa.io/abema/programs/25-139_s1_p5/thumb002.q85.w200.h112.v1583488023.webp 1x, https://hayabusa.io/abema/programs/25-139_s1_p5/thumb002.q85.w200.h112.x2.v1583488023.webp 2x' loading='lazy' src='https://hayabusa.io/abema/programs/25-139_s1_p5/thumb002.q85.w200.h112.v1583488023.webp')
                            .ma-episode-details-readmore-block-thumbnail.ma-m-thumbnail
                                img.ma-m-thumbnail-image(alt='' srcset='https://hayabusa.io/abema/programs/25-139_s1_p5/thumb003.q85.w200.h112.v1583488023.webp 1x, https://hayabusa.io/abema/programs/25-139_s1_p5/thumb003.q85.w200.h112.x2.v1583488023.webp 2x' loading='lazy' src='https://hayabusa.io/abema/programs/25-139_s1_p5/thumb003.q85.w200.h112.v1583488023.webp')
                            .ma-episode-details-readmore-block-thumbnail.ma-m-thumbnail
                                img.ma-m-thumbnail-image(alt='' srcset='https://hayabusa.io/abema/programs/25-139_s1_p5/thumb004.q85.w200.h112.v1583488023.webp 1x, https://hayabusa.io/abema/programs/25-139_s1_p5/thumb004.q85.w200.h112.x2.v1583488023.webp 2x' loading='lazy' src='https://hayabusa.io/abema/programs/25-139_s1_p5/thumb004.q85.w200.h112.v1583488023.webp')
                            .ma-episode-details-readmore-block-thumbnail.ma-m-thumbnail
                                img.ma-m-thumbnail-image(alt='' srcset='https://hayabusa.io/abema/programs/25-139_s1_p5/thumb005.q85.w200.h112.v1583488023.webp 1x, https://hayabusa.io/abema/programs/25-139_s1_p5/thumb005.q85.w200.h112.x2.v1583488023.webp 2x' loading='lazy' src='https://hayabusa.io/abema/programs/25-139_s1_p5/thumb005.q85.w200.h112.v1583488023.webp')
                            .ma-episode-details-readmore-block-thumbnail.ma-m-thumbnail
                                img.ma-m-thumbnail-image(alt='' srcset='https://hayabusa.io/abema/programs/25-139_s1_p5/thumb006.q85.w200.h112.v1583488023.webp 1x, https://hayabusa.io/abema/programs/25-139_s1_p5/thumb006.q85.w200.h112.x2.v1583488023.webp 2x' loading='lazy' src='https://hayabusa.io/abema/programs/25-139_s1_p5/thumb006.q85.w200.h112.v1583488023.webp')
                        p.ma-episode-details-block-content
                            span.ma-color-e6.ma-font-14
                                | &#x30ED;&#x30BA;&#x30EF;&#x30FC;&#x30EB;&#x306E;&#x5C4B;&#x6577;&#x306B;&#x4F4F;&#x307F;&#x8FBC;&#x307F;&#x3067;&#x50CD;&#x304F;&#x3053;&#x3068;&#x306B;&#x306A;&#x3063;&#x305F;&#x30B9;&#x30D0;&#x30EB;&#x306F;&#x3001;&#x30EC;&#x30E0;&#x3084;&#x30E9;&#x30E0;&#x3068;&#x5171;&#x306B;&#x65E5;&#x3005;&#x4ED5;&#x4E8B;&#x3092;&#x3053;&#x306A;&#x3057;&#x3001;&#x3064;&#x3044;&#x306B;&#x306F;&#x30A8;&#x30DF;&#x30EA;&#x30A2;&#x3068;&#x306E;&#x30C7;&#x30FC;&#x30C8;&#x306E;&#x7D04;&#x675F;&#x3092;&#x53D6;&#x308A;&#x4ED8;&#x3051;&#x308B;&#x3002;&#x3057;&#x304B;&#x3057;&#x7D04;&#x675F;&#x306E;&#x65E5;&#x304C;&#x8A2A;&#x308C;&#x308B;&#x3053;&#x3068;&#x306F;&#x306A;&#x304F;&#x3001;&#x30B9;&#x30D0;&#x30EB;&#x306F;&#x5C4B;&#x6577;&#x306B;&#x3084;&#x3063;&#x3066;&#x304D;&#x305F;&#x521D;&#x65E5;&#x306B;&#x623B;&#x3063;&#x3066;&#x304D;&#x3066;&#x3057;&#x307E;&#x3046;&#x3002;&#x547D;&#x3092;&#x596A;&#x308F;&#x308C;&#x308B;&#x3088;&#x3046;&#x306A;&#x3053;&#x3068;&#x306A;&#x3069;&#x4F55;&#x3082;&#x8D77;&#x304D;&#x3066;&#x3044;&#x306A;&#x3044;&#x306E;&#x306B;&#x3082;&#x95A2;&#x308F;&#x3089;&#x305A;&#x3001;&#x3044;&#x3064;&#x306E;&#x9593;&#x306B;&#x304B;&#x6B7B;&#x306B;&#x623B;&#x3063;&#x3066;&#x3057;&#x307E;&#x3063;&#x305F;&#x3053;&#x3068;&#x306B;&#x6DF7;&#x4E71;&#x3059;&#x308B;&#x30B9;&#x30D0;&#x30EB;&#x3060;&#x3063;&#x305F;&#x304C;&#x3001;&#x30A8;&#x30DF;&#x30EA;&#x30A2;&#x3068;&#x306E;&#x30C7;&#x30FC;&#x30C8;&#x306E;&#x7D04;&#x675F;&#x3092;&#x679C;&#x305F;&#x3059;&#x305F;&#x3081;&#x3001;&#x524D;&#x56DE;&#x3092;&#x306A;&#x305E;&#x308B;&#x3088;&#x3046;&#x306B;&#x518D;&#x3073;&#x884C;&#x52D5;&#x3092;&#x59CB;&#x3081;&#x308B;&#x3002;
                        .ma-episode-details-block-wrapper
                            section.ma-episode-details-block-section
                                h2.ma-episode-details-readmore-block-title.ma-font-14.ma-color-e6
                                    span &#x30AD;&#x30E3;&#x30B9;&#x30C8;
                                ul
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30CA;&#x30C4;&#x30AD;&#x30FB;&#x30B9;&#x30D0;&#x30EB;:&#x5C0F;&#x6797;&#x88D5;&#x4ECB;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30A8;&#x30DF;&#x30EA;&#x30A2;:&#x9AD8;&#x6A4B;&#x674E;&#x4F9D;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30D1;&#x30C3;&#x30AF;:&#x5185;&#x5C71;&#x5915;&#x5B9F;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30EC;&#x30E0;:&#x6C34;&#x702C;&#x3044;&#x306E;&#x308A;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30E9;&#x30E0;:&#x6751;&#x5DDD;&#x68A8;&#x8863;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30D9;&#x30A2;&#x30C8;&#x30EA;&#x30B9;:&#x65B0;&#x4E95;&#x91CC;&#x7F8E;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30ED;&#x30BA;&#x30EF;&#x30FC;&#x30EB;&#x30FB;L&#x30FB;&#x30E1;&#x30A4;&#x30B6;&#x30FC;&#x30B9;:&#x5B50;&#x5B89;&#x6B66;&#x4EBA;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30D5;&#x30A7;&#x30EB;&#x30C8;:&#x8D64;&#xFA11;&#x5343;&#x590F;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30E9;&#x30A4;&#x30F3;&#x30CF;&#x30EB;&#x30C8;&#x30FB;&#x30F4;&#x30A1;&#x30F3;&#x30FB;&#x30A2;&#x30B9;&#x30C8;&#x30EC;&#x30A2;:&#x4E2D;&#x6751;&#x60A0;&#x4E00;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30AF;&#x30EB;&#x30B7;&#x30E5;&#x30FB;&#x30AB;&#x30EB;&#x30B9;&#x30C6;&#x30F3;:&#x4E95;&#x53E3;&#x88D5;&#x9999;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30D5;&#x30A7;&#x30EA;&#x30C3;&#x30AF;&#x30B9;&#x30FB;&#x30A2;&#x30FC;&#x30AC;&#x30A4;&#x30EB;:&#x5800;&#x6C5F;&#x7531;&#x8863;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30F4;&#x30A3;&#x30EB;&#x30D8;&#x30EB;&#x30E0;&#x30FB;&#x30F4;&#x30A1;&#x30F3;&#x30FB;&#x30A2;&#x30B9;&#x30C8;&#x30EC;&#x30A2;:&#x5800;&#x5185;&#x8CE2;&#x96C4;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30A2;&#x30CA;&#x30B9;&#x30BF;&#x30B7;&#x30A2;&#x30FB;&#x30DB;&#x30FC;&#x30B7;&#x30F3;:&#x690D;&#x7530;&#x4F73;&#x5948;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30E6;&#x30EA;&#x30A6;&#x30B9;&#x30FB;&#x30E6;&#x30FC;&#x30AF;&#x30EA;&#x30A6;&#x30B9;:&#x6C5F;&#x53E3;&#x62D3;&#x4E5F;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30D7;&#x30EA;&#x30B7;&#x30E9;&#x30FB;&#x30D0;&#x30FC;&#x30EA;&#x30A8;&#x30EB;:&#x7530;&#x6751;&#x3086;&#x304B;&#x308A;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30A2;&#x30EB;&#x30C7;&#x30D0;&#x30E9;&#x30F3;:&#x85E4;&#x539F;&#x5553;&#x6CBB;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30A8;&#x30EB;&#x30B6;&#x30FB;&#x30B0;&#x30E9;&#x30F3;&#x30D2;&#x30EB;&#x30C6;:&#x80FD;&#x767B;&#x9EBB;&#x7F8E;&#x5B50;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30DA;&#x30C6;&#x30EB;&#x30AE;&#x30A6;&#x30B9;&#x30FB;&#x30ED;&#x30DE;&#x30CD;&#x30B3;&#x30F3;&#x30C6;&#x30A3;:&#x677E;&#x5CA1;&#x798E;&#x4E1E;
                            section.ma-episode-details-block-section
                                h2.ma-episode-details-readmore-block-title.ma-font-14.ma-color-e6
                                    span &#x30B9;&#x30BF;&#x30C3;&#x30D5;
                                ul
                                    li
                                        span.ma-font-14.ma-color-e6 &#x539F;&#x4F5C;:&#x9577;&#x6708;&#x9054;&#x5E73;(MF &#x6587;&#x5EAB; J&#x300C;Re:&#x30BC;&#x30ED;&#x304B;&#x3089;&#x59CB;&#x3081;&#x308B;&#x7570;&#x4E16;&#x754C;&#x751F;&#x6D3B;&#x300D;/KADOKAWA &#x520A;)
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30AD;&#x30E3;&#x30E9;&#x30AF;&#x30BF;&#x30FC;&#x539F;&#x6848;:&#x5927;&#x585A;&#x771F;&#x4E00;&#x90CE;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x76E3;&#x7763;:&#x6E21;&#x908A;&#x653F;&#x6CBB;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30B7;&#x30EA;&#x30FC;&#x30BA;&#x69CB;&#x6210;:&#x6A2A;&#x8C37;&#x660C;&#x5B8F;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30AD;&#x30E3;&#x30E9;&#x30AF;&#x30BF;&#x30FC;&#x30C7;&#x30B6;&#x30A4;&#x30F3;&#x30FB;&#x7DCF;&#x4F5C;&#x753B;&#x76E3;&#x7763;:&#x5742;&#x4E95;&#x4E45;&#x592A;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30D7;&#x30ED;&#x30C3;&#x30D7;&#x30C7;&#x30B6;&#x30A4;&#x30F3;:&#x9234;&#x6728;&#x5178;&#x5B5D;&#x3001;&#x5CA9;&#x7551;&#x525B;&#x4E00;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x7F8E;&#x8853;&#x8A2D;&#x5B9A;:&#x91D1;&#x57CE;&#x6C99;&#x7DBE;(&#x7F8E;&#x5CF0;)
                                    li
                                        span.ma-font-14.ma-color-e6 &#x7F8E;&#x8853;&#x76E3;&#x7763;:&#x9AD8;&#x5CEF;&#x7FA9;&#x4EBA;(&#x7F8E;&#x5CF0;)
                                    li
                                        span.ma-font-14.ma-color-e6 &#x8272;&#x5F69;&#x8A2D;&#x8A08;:&#x5742;&#x672C;&#x3044;&#x3065;&#x307F;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x64AE;&#x5F71;&#x76E3;&#x7763;:&#x5CF0;&#x5CB8;&#x5065;&#x592A;&#x90CE;(T2studio)
                                    li
                                        span.ma-font-14.ma-color-e6 3D&#x30C7;&#x30A3;&#x30EC;&#x30AF;&#x30BF;&#x30FC;:&#x8EFD;&#x90E8; &#x512A;(T2studio)
                                    li
                                        span.ma-font-14.ma-color-e6 &#x7DE8;&#x96C6;:&#x9808;&#x85E4; &#x77B3;(REAL-T)
                                    li
                                        span.ma-font-14.ma-color-e6 &#x97F3;&#x97FF;&#x76E3;&#x7763;:&#x660E;&#x7530;&#x5DDD; &#x4EC1;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x97F3;&#x97FF;&#x52B9;&#x679C;:&#x53E4;&#x8C37;&#x53CB;&#x4E8C;(&#x30B9;&#x30EF;&#x30E9;&#x30FB;&#x30D7;&#x30ED;)
                                    li
                                        span.ma-font-14.ma-color-e6 &#x97F3;&#x697D;:&#x672B;&#x5EE3;&#x5065;&#x4E00;&#x90CE;
                                    li
                                        span.ma-font-14.ma-color-e6 &#x97F3;&#x697D;&#x5236;&#x4F5C;:KADOKAWA
                                    li
                                        span.ma-font-14.ma-color-e6 &#x30A2;&#x30CB;&#x30E1;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x5236;&#x4F5C;:WHITE FOX&#x88FD;&#x4F5C;:Re:&#x30BC;&#x30ED;&#x304B;&#x3089;&#x59CB;&#x3081;&#x308B;&#x7570;&#x4E16;&#x754C;&#x751F;&#x6D3B;&#x88FD;&#x4F5C;&#x59D4;&#x54E1;&#x4F1A;
            section.ma-episode-section-episode-list-mobile
                .ma-episode-section-episode-list-header-mobile
                    h3.ma-episode-section-episode-list-title-mobile &#x30A8;&#x30D4;&#x30BD;&#x30FC;&#x30C9;&#x4E00;&#x89A7;
                    a.ma-link.ma-link-inline(href='/video/title/25-139')
                        span.ma-episode-section-link-to-anime &#x3082;&#x3063;&#x3068;&#x307F;&#x308B;
                ul.ma-episode-list-mobile.ma-non-list.p-0
                    li.ma-episode-list-mobile-item
                        a.ma-link-block(href='/video/episode/25-139_s1_p1')
                            .ma-episode-list-mobile-item-inner
                                .ma-episode-list-thumbnail-mobile
                                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                                        img.ma-m-thumbnail-image(alt='第1話 始まりの終わりと終わりの始まり' srcset='https://hayabusa.io/abema/programs/25-139_s1_p1/thumb002.v1583729670.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/programs/25-139_s1_p1/thumb002.v1583729670.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/programs/25-139_s1_p1/thumb002.v1583729670.webp?width=128&height=72&quality=85&format=webp')
                                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                                            span.ma-m-play-icon
                                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                                .ma-episode-list-caption-mobile
                                    p.ma-episode-list-title-mobile
                                        span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') &#x7B2C;1&#x8A71; &#x59CB;&#x307E;&#x308A;&#x306E;&#x7D42;&#x308F;&#x308A;&#x3068;&#x7D42;&#x308F;&#x308A;&#x306E;&#x59CB;&#x307E;&#x308A;
                                    p.ma-episode-list-lang-text-mobile
                                        span.ma-episode-list-lang-text
                                            span.ma-episode-list-lang-label.ma-episode-list-lang-label-mobile &#x7121;&#x6599;
                    li.ma-episode-list-mobile-item
                        a.ma-link-block(href='/video/episode/25-139_s1_p2')
                            .ma-episode-list-mobile-item-inner
                                .ma-episode-list-thumbnail-mobile
                                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                                        img.ma-m-thumbnail-image(alt='第2話 再会の魔女' srcset='https://hayabusa.io/abema/programs/25-139_s1_p2/thumb002.v1583488023.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/programs/25-139_s1_p2/thumb002.v1583488023.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/programs/25-139_s1_p2/thumb002.v1583488023.webp?width=128&height=72&quality=85&format=webp')
                                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                                            span.ma-m-play-icon
                                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                                .com-episode-MobileSimpleEpisodeList__caption
                                    p.ma-episode-list-title-mobile
                                        span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') &#x7B2C;2&#x8A71; &#x518D;&#x4F1A;&#x306E;&#x9B54;&#x5973;
                                    p.ma-episode-list-lang-text-mobile
                                        span.ma-episode-list-lang-text
                                            span.ma-episode-list-lang-label.ma-episode-list-lang-label-mobile &#x30D7;&#x30EC;&#x30DF;&#x30A2;&#x30E0;
            .ma-episode-section-buttons
                .d-flex
                    ul.ma-share-container
                        li.ma-share-item(tabindex='-1')
                            .ma-share-button-section
                                div.btn.ma-share-twitter-button(aria-label='Twitter' type='button' tabindex='-1')
                                    svg.ma-share-twitter-icon(aria-label='')
                                        use(xlink:href='/imgs/icons/twitter.svg?v=v20.227.5#svg-body')
                            span.ma-share-label Twitter
                        li.ma-share-item(tabindex='-1')
                            .ma-share-button-section
                                div.btn.ma-share-facebook-button(aria-label='Facebook' type='button' tabindex='-1')
                                    svg.ma-share-facebook-icon(aria-label='')
                                        use(xlink:href='/imgs/icons/facebook.svg?v=v20.227.5#svg-body')
                            span.ma-share-label Facebook
                        li.ma-share-item(tabindex='-1')
                            .ma-share-button-section
                                div.btn.ma-share-line-button(aria-label='Facebook' type='button' tabindex='-1')
                                    svg.ma-share-line-button-icon(aria-label='')
                                        use(xlink:href='/imgs/icons/line.svg?v=v20.227.5#svg-body')
                            span.ma-share-label LINE
            .ma-episode-section-card-list-mobile
                h3.ma-episode-section-card-title-mobile &#x30A2;&#x30D7;&#x30EA;&#x3067;&#x3082;&#x3063;&#x3068;&#x30A2;&#x30CB;&#x30E1;&#x3092;&#x697D;&#x3057;&#x3082;&#x3046;
                include ./cardList
            include ./animeRecMobile