if(isMobile)
    .ma-footer-container-mobile
        footer.ma-footer-mobile
            ul.ma-footer-mobile-list.ma-non-list
                li.ma-footer-mobile-list-item
                    a.ma-link-block-mobile.ma-link-dim(href='/privacy-policy' target='_blank' rel='noopener noreferrer')
                        span.ma-font-12.ma-color-e6 Privacy Policy
                //- li.ma-footer-mobile-list-item
                //-     a.ma-link-block-mobile.ma-link-dim(href='#' target='_blank' rel='noopener noreferrer')
                //-         span.ma-font-12.ma-color-e6 Link 2
                //- li.ma-footer-mobile-list-item
                //-     a.ma-link-block-mobile.ma-link-dim(href='#' target='_blank' rel='noopener noreferrer')
                //-         span.ma-font-12.ma-color-e6 Link 3
                //- li.ma-footer-mobile-list-item
                //-     a.ma-link-block-mobile.ma-link-dim(href='#' target='_blank' rel='noopener noreferrer')
                //-         span.ma-font-12.ma-color-e6 Link 4
                //- li.ma-footer-mobile-list-item
                //-     a.ma-link-block-mobile.ma-link-dim(href='#' target='_blank' rel='noopener noreferrer')
                //-         span.ma-font-12.ma-color-e6 Link 5
                //- li.ma-footer-mobile-list-item
                //-     a.ma-link-block-mobile.ma-link-dim(href='#' target='_blank' rel='noopener noreferrer')
                //-         span.ma-font-12.ma-color-e6 Link 6
                //- li.ma-footer-mobile-list-item
                //-     a.ma-link-block-mobile.ma-link-dim(href='#')
                //-         span.ma-font-12.ma-color-e6 Link 7
        small.ma-footer-copyright(style="display:block;text-align:center;") admin@myanime.co
        .ma-social-footer(style="display: flex;")
            .ma-share-item
                a.ma-link(href="https://fb.com/Myanime.in" target="_blank")
                    .ma-share-button-section
                        div.btn.ma-share-facebook-button(aria-label='Facebook' type='button' tabindex='-1')
                            svg.ma-share-facebook-icon(aria-label='')
                                use(xlink:href='/imgs/icons/facebook.svg?v=v20.227.5#svg-body')
                    span.ma-share-label Facebook
            .ma-share-item
                a.ma-link(href="https://twitter.com/myanime_co" target="_blank")
                    .ma-share-button-section
                        div.btn.ma-share-twitter-button(aria-label='Twitter' type='button' tabindex='-1')
                            svg.ma-share-twitter-icon(aria-label='')
                                use(xlink:href='/imgs/icons/twitter.svg?v=v20.227.5#svg-body')
                    span.ma-share-label Twitter
else 
    .ma-footer-container
        footer.ma-footer
            .ma-footer-inner
                .ma-footer-left
                    ul.ma-footer-list
                        li.ma-footer-list-item
                            a.ma-link-block(href='/privacy-policy' target='_blank' rel='noopener noreferrer')
                                span.ma-footer-link-text Privacy Policy
                        //- li.ma-footer-list-item
                        //-     a.ma-link-block(href='#' target='_blank' rel='noopener noreferrer')
                        //-         span.ma-footer-link-text Link 2
                        //- li.ma-footer-list-item
                        //-     a.ma-link-block(href='#' target='_blank' rel='noopener noreferrer')
                        //-         span.ma-footer-link-text Link 3
                        //- li.ma-footer-list-item
                        //-     a.ma-link-block(href='#' target='_blank' rel='noopener noreferrer')
                        //-         span.ma-footer-link-text Link 4
                        //- li.ma-footer-list-item
                        //-     a.ma-link-block(href='#' target='_blank' rel='noopener noreferrer')
                        //-         span.ma-footer-link-text Link 5
                        //- li.ma-footer-list-item
                        //-     a.ma-link-block(href='#' target='_blank' rel='noopener noreferrer')
                        //-         span.ma-footer-link-text Link 6
                        //- li.ma-footer-list-item
                        //-     a.ma-link-block(href='#')
                        //-         span.ma-footer-link-text Link 7
                    small.ma-footer-copyright admin@myanime.co
                .ma-footer-right
                    .ma-social-footer(style="display: flex;")
                        .ma-share-item
                            a.ma-link(href="https://fb.com/Myanime.in" target="_blank")
                                .ma-share-button-section
                                    div.btn.ma-share-facebook-button(aria-label='Facebook' type='button' tabindex='-1')
                                        svg.ma-share-facebook-icon(aria-label='')
                                            use(xlink:href='/imgs/icons/facebook.svg?v=v20.227.5#svg-body')
                                span.ma-share-label Facebook
                        .ma-share-item
                            a.ma-link(href="https://twitter.com/myanime_co" target="_blank")
                                .ma-share-button-section
                                    div.btn.ma-share-twitter-button(aria-label='Twitter' type='button' tabindex='-1')
                                        svg.ma-share-twitter-icon(aria-label='')
                                            use(xlink:href='/imgs/icons/twitter.svg?v=v20.227.5#svg-body')
                                span.ma-share-label Twitter
