.embed-responsive.embed-responsive-16by9
    #player-container.player-container.embed-responsive-item
        video#player.video-js(style='width: 100%; height: 100%;' controls playsinline)
script(type="text/javascript").
    var player = myAnimePlayer("player")
    var langs = !{JSON.stringify(sources)};
    var lang = langs[0]
    switchLangs(langs)
    var options = {
        autoplay: false,
        preload: "auto", 
        type: "video/mp4",
        src: lang.source
    };
    player.poster(lang.thumbnail);
    player.src(options);
    player.Resume({
        uuid: window.location.pathname
    });
    loadAds(player);