.ma-ranking-mobile-type-tab-container
    ul.ma-ranking-type-tablist.ma-non-list(role='tablist')
        li.ma-ranking-type-tablist-item.active(role='tab' aria-selected='true')
            p by Views
        li.ma-ranking-type-tablist-item(role='tab' aria-selected='false')
            a.ma-ranking-type-tablist-link.ma-link.ma-outline(href='/ranking/video/premium/animation') by Favorites
    .ma-ranking-mobile-selector
        .ma-select-menu
            .ma-select-menu-mobile
                p.ma-select-menu-mobile-label
                    span.ma-select-menu-mobile-label-text &#x30A2;&#x30CB;&#x30E1;
                    svg.ma-select-menu-mobile-icon.ma-icon-symbol(aria-label='' height='5' role='img' width='8')
                        use(xlink:href='/imgs/icons/dropdown.svg#svg-body')
                select.ma-select-menu-mobile-select
                    option(value='/ranking/video/free') &#x3059;&#x3079;&#x3066;
                    option(value='/ranking/video/free/campaign') &#x6625;&#x306E;&#x30A2;&#x30D9;&#x30DE;TV
                    option(value='/ranking/video/free/reality') &#x604B;&#x30EA;&#x30A2;
                    option(value='/ranking/video/free/animation') &#x30A2;&#x30CB;&#x30E1;
                    option(value='/ranking/video/free/variety') &#x30D0;&#x30E9;&#x30A8;&#x30C6;&#x30A3;
                    option(value='/ranking/video/free/drama') &#x30C9;&#x30E9;&#x30DE;
                    option(value='/ranking/video/free/asia') &#x97D3;&#x6D41;&#x30FB;&#x83EF;&#x6D41;
                    option(value='/ranking/video/free/kpop') K-POP
                    option(value='/ranking/video/free/mahjong') &#x9EBB;&#x96C0;
                    option(value='/ranking/video/free/fightingsports') &#x683C;&#x95D8;
                    option(value='/ranking/video/free/shogi') &#x5C06;&#x68CB;
                    option(value='/ranking/video/free/news') &#x30CB;&#x30E5;&#x30FC;&#x30B9;
                    option(value='/ranking/video/free/tvcatchup') &#x30C6;&#x30EC;&#x671D;&#x898B;&#x9003;&#x3057;
                    option(value='/ranking/video/free/movie') &#x6620;&#x753B;
                    option(value='/ranking/video/free/sports') &#x30B9;&#x30DD;&#x30FC;&#x30C4;
                    option(value='/ranking/video/free/documentary') &#x30C9;&#x30AD;&#x30E5;&#x30E1;&#x30F3;&#x30BF;&#x30EA;&#x30FC;
                    option(value='/ranking/video/free/hiphop') HIPHOP
                    option(value='/ranking/video/free/fishing') &#x91E3;&#x308A;
                    option(value='/ranking/video/free/game') &#x30B2;&#x30FC;&#x30E0;
                    option(value='/ranking/video/free/music') &#x97F3;&#x697D;
                    option(value='/ranking/video/free/hobby') &#x8DA3;&#x5473;
.ma-ranking-mobile-ranking-list
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-139')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='Re:ゼロから始める異世界生活' srcset='https://hayabusa.io/abema/series/25-139/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-139/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-139/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 1. Re:&#x30BC;&#x30ED;&#x304B;&#x3089;&#x59CB;&#x3081;&#x308B;&#x7570;&#x4E16;&#x754C;&#x751F;&#x6D3B;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/54-43')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='痛いのは嫌なので防御力に極振りしたいと思います。' srcset='https://hayabusa.io/abema/series/54-43/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/54-43/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/54-43/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 2. &#x75DB;&#x3044;&#x306E;&#x306F;&#x5ACC;&#x306A;&#x306E;&#x3067;&#x9632;&#x5FA1;&#x529B;&#x306B;&#x6975;&#x632F;&#x308A;&#x3057;&#x305F;&#x3044;&#x3068;&#x601D;&#x3044;&#x307E;&#x3059;&#x3002;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-138')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='異世界かるてっと２' srcset='https://hayabusa.io/abema/series/25-138/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-138/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-138/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 3. &#x7570;&#x4E16;&#x754C;&#x304B;&#x308B;&#x3066;&#x3063;&#x3068;&#xFF12;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/218-101')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='声優と夜あそび 2nd season' srcset='https://hayabusa.io/abema/series/218-101/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/218-101/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/218-101/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 4. &#x58F0;&#x512A;&#x3068;&#x591C;&#x3042;&#x305D;&#x3073; 2nd season
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/26-75')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='鬼滅の刃' srcset='https://hayabusa.io/abema/series/26-75/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/26-75/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/26-75/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 5. &#x9B3C;&#x6EC5;&#x306E;&#x5203;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/26-87')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='ダーウィンズゲーム' srcset='https://hayabusa.io/abema/series/26-87/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/26-87/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/26-87/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 6. &#x30C0;&#x30FC;&#x30A6;&#x30A3;&#x30F3;&#x30BA;&#x30B2;&#x30FC;&#x30E0;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/190-20')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='虚構推理' srcset='https://hayabusa.io/abema/series/190-20/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/190-20/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/190-20/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 7. &#x865A;&#x69CB;&#x63A8;&#x7406;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/115-68')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='あひるの空' srcset='https://hayabusa.io/abema/series/115-68/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/115-68/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/115-68/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 8. &#x3042;&#x3072;&#x308B;&#x306E;&#x7A7A;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/420-14')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='ワンパンマン' srcset='https://hayabusa.io/abema/series/420-14/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/420-14/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/420-14/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 9. &#x30EF;&#x30F3;&#x30D1;&#x30F3;&#x30DE;&#x30F3;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/54-41')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='プランダラ' srcset='https://hayabusa.io/abema/series/54-41/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/54-41/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/54-41/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 10. &#x30D7;&#x30E9;&#x30F3;&#x30C0;&#x30E9;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/189-17')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='地縛少年花子くん' srcset='https://hayabusa.io/abema/series/189-17/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/189-17/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/189-17/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 11. &#x5730;&#x7E1B;&#x5C11;&#x5E74;&#x82B1;&#x5B50;&#x304F;&#x3093;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/26-80')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='Fate/Grand Order -絶対魔獣戦線バビロニア-' srcset='https://hayabusa.io/abema/series/26-80/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/26-80/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/26-80/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 12. Fate/Grand Order -&#x7D76;&#x5BFE;&#x9B54;&#x7363;&#x6226;&#x7DDA;&#x30D0;&#x30D3;&#x30ED;&#x30CB;&#x30A2;-
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/199-30')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='とある科学の超電磁砲T' srcset='https://hayabusa.io/abema/series/199-30/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/199-30/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/199-30/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 13. &#x3068;&#x3042;&#x308B;&#x79D1;&#x5B66;&#x306E;&#x8D85;&#x96FB;&#x78C1;&#x7832;T
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/397-15')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='七つの大罪 神々の逆鱗' srcset='https://hayabusa.io/abema/series/397-15/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/397-15/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/397-15/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 14. &#x4E03;&#x3064;&#x306E;&#x5927;&#x7F6A; &#x795E;&#x3005;&#x306E;&#x9006;&#x9C57;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-129')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='慎重勇者～この勇者が俺TUEEEくせに慎重すぎる～' srcset='https://hayabusa.io/abema/series/25-129/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-129/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-129/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 15. &#x614E;&#x91CD;&#x52C7;&#x8005;&#xFF5E;&#x3053;&#x306E;&#x52C7;&#x8005;&#x304C;&#x4FFA;TUEEE&#x304F;&#x305B;&#x306B;&#x614E;&#x91CD;&#x3059;&#x304E;&#x308B;&#xFF5E;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/54-42')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='異種族レビュアーズ' srcset='https://hayabusa.io/abema/series/54-42/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/54-42/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/54-42/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 16. &#x7570;&#x7A2E;&#x65CF;&#x30EC;&#x30D3;&#x30E5;&#x30A2;&#x30FC;&#x30BA;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/143-1')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='【WEB最速】ポンコツクエスト～魔王と派遣の魔物たち～' srcset='https://hayabusa.io/abema/series/143-1/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/143-1/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/143-1/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 17. &#x3010;WEB&#x6700;&#x901F;&#x3011;&#x30DD;&#x30F3;&#x30B3;&#x30C4;&#x30AF;&#x30A8;&#x30B9;&#x30C8;&#xFF5E;&#x9B54;&#x738B;&#x3068;&#x6D3E;&#x9063;&#x306E;&#x9B54;&#x7269;&#x305F;&#x3061;&#xFF5E;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-40xx2hk3u5ai')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='この素晴らしい世界に祝福を！' srcset='https://hayabusa.io/abema/series/25-40xx2hk3u5ai/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-40xx2hk3u5ai/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-40xx2hk3u5ai/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 18. &#x3053;&#x306E;&#x7D20;&#x6674;&#x3089;&#x3057;&#x3044;&#x4E16;&#x754C;&#x306B;&#x795D;&#x798F;&#x3092;&#xFF01;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/420-15')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='『ワンパンマン』第2期' srcset='https://hayabusa.io/abema/series/420-15/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/420-15/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/420-15/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 19. &#x300E;&#x30EF;&#x30F3;&#x30D1;&#x30F3;&#x30DE;&#x30F3;&#x300F;&#x7B2C;2&#x671F;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/194-14')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='ランウェイで笑って' srcset='https://hayabusa.io/abema/series/194-14/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/194-14/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/194-14/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 20. &#x30E9;&#x30F3;&#x30A6;&#x30A7;&#x30A4;&#x3067;&#x7B11;&#x3063;&#x3066;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/149-7')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='＜Infinite Dendrogram＞-インフィニット・デンドログラム-' srcset='https://hayabusa.io/abema/series/149-7/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/149-7/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/149-7/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 21. &#xFF1C;Infinite Dendrogram&#xFF1E;-&#x30A4;&#x30F3;&#x30D5;&#x30A3;&#x30CB;&#x30C3;&#x30C8;&#x30FB;&#x30C7;&#x30F3;&#x30C9;&#x30ED;&#x30B0;&#x30E9;&#x30E0;-
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/26-89')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='マギアレコード 魔法少女まどか☆マギカ外伝' srcset='https://hayabusa.io/abema/series/26-89/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/26-89/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/26-89/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 22. &#x30DE;&#x30AE;&#x30A2;&#x30EC;&#x30B3;&#x30FC;&#x30C9; &#x9B54;&#x6CD5;&#x5C11;&#x5973;&#x307E;&#x3069;&#x304B;&star;&#x30DE;&#x30AE;&#x30AB;&#x5916;&#x4F1D;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-118')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='女子高生の無駄づかい' srcset='https://hayabusa.io/abema/series/25-118/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-118/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-118/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 23. &#x5973;&#x5B50;&#x9AD8;&#x751F;&#x306E;&#x7121;&#x99C4;&#x3065;&#x304B;&#x3044;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-45')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='この素晴らしい世界に祝福を！２' srcset='https://hayabusa.io/abema/series/25-45/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-45/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-45/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 24. &#x3053;&#x306E;&#x7D20;&#x6674;&#x3089;&#x3057;&#x3044;&#x4E16;&#x754C;&#x306B;&#x795D;&#x798F;&#x3092;&#xFF01;&#xFF12;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-6')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='オーバーロード' srcset='https://hayabusa.io/abema/series/25-6/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-6/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-6/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 25. &#x30AA;&#x30FC;&#x30D0;&#x30FC;&#x30ED;&#x30FC;&#x30C9;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/512-1')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='群れなせ！シートン学園' srcset='https://hayabusa.io/abema/series/512-1/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/512-1/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/512-1/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 26. &#x7FA4;&#x308C;&#x306A;&#x305B;&#xFF01;&#x30B7;&#x30FC;&#x30C8;&#x30F3;&#x5B66;&#x5712;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/481-2')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='ソマリと森の神様' srcset='https://hayabusa.io/abema/series/481-2/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/481-2/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/481-2/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 27. &#x30BD;&#x30DE;&#x30EA;&#x3068;&#x68EE;&#x306E;&#x795E;&#x69D8;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/2-3nmtrfgpjgf')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='メジャー 第2シリーズ' srcset='https://hayabusa.io/abema/series/2-3nmtrfgpjgf/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/2-3nmtrfgpjgf/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/2-3nmtrfgpjgf/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 28. &#x30E1;&#x30B8;&#x30E3;&#x30FC; &#x7B2C;2&#x30B7;&#x30EA;&#x30FC;&#x30BA;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/54-44')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='異種族レビュアーズ 裏オプVer.' srcset='https://hayabusa.io/abema/series/54-44/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/54-44/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/54-44/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 29. &#x7570;&#x7A2E;&#x65CF;&#x30EC;&#x30D3;&#x30E5;&#x30A2;&#x30FC;&#x30BA; &#x88CF;&#x30AA;&#x30D7;Ver.
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/413-4')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='魔術士オーフェンはぐれ旅' srcset='https://hayabusa.io/abema/series/413-4/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/413-4/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/413-4/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 30. &#x9B54;&#x8853;&#x58EB;&#x30AA;&#x30FC;&#x30D5;&#x30A7;&#x30F3;&#x306F;&#x3050;&#x308C;&#x65C5;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-137')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='恋する小惑星（アステロイド）' srcset='https://hayabusa.io/abema/series/25-137/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-137/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-137/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 31. &#x604B;&#x3059;&#x308B;&#x5C0F;&#x60D1;&#x661F;&#xFF08;&#x30A2;&#x30B9;&#x30C6;&#x30ED;&#x30A4;&#x30C9;&#xFF09;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/283-10')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='BanG Dream! 3rd Season' srcset='https://hayabusa.io/abema/series/283-10/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/283-10/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/283-10/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 32. BanG Dream! 3rd Season
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-26d-6nt9ibcd')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='とある科学の超電磁砲' srcset='https://hayabusa.io/abema/series/25-26d-6nt9ibcd/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-26d-6nt9ibcd/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-26d-6nt9ibcd/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 33. &#x3068;&#x3042;&#x308B;&#x79D1;&#x5B66;&#x306E;&#x8D85;&#x96FB;&#x78C1;&#x7832;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-117')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='可愛ければ変態でも好きになってくれますか？' srcset='https://hayabusa.io/abema/series/25-117/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-117/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-117/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 34. &#x53EF;&#x611B;&#x3051;&#x308C;&#x3070;&#x5909;&#x614B;&#x3067;&#x3082;&#x597D;&#x304D;&#x306B;&#x306A;&#x3063;&#x3066;&#x304F;&#x308C;&#x307E;&#x3059;&#x304B;&#xFF1F;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-131')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='ソードアート・オンライン アリシゼーション War of Underworld' srcset='https://hayabusa.io/abema/series/25-131/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-131/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-131/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 35. &#x30BD;&#x30FC;&#x30C9;&#x30A2;&#x30FC;&#x30C8;&#x30FB;&#x30AA;&#x30F3;&#x30E9;&#x30A4;&#x30F3; &#x30A2;&#x30EA;&#x30B7;&#x30BC;&#x30FC;&#x30B7;&#x30E7;&#x30F3; War of Underworld
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-97')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='オーバーロードⅢ' srcset='https://hayabusa.io/abema/series/25-97/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-97/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-97/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 36. &#x30AA;&#x30FC;&#x30D0;&#x30FC;&#x30ED;&#x30FC;&#x30C9;&#x2162;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/19-39')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='織田シナモン信長' srcset='https://hayabusa.io/abema/series/19-39/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/19-39/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/19-39/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 37. &#x7E54;&#x7530;&#x30B7;&#x30CA;&#x30E2;&#x30F3;&#x4FE1;&#x9577;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/13-47')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='銀魂' srcset='https://hayabusa.io/abema/series/13-47/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/13-47/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/13-47/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 38. &#x9280;&#x9B42;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/247-10')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='へやキャン△' srcset='https://hayabusa.io/abema/series/247-10/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/247-10/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/247-10/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 39. &#x3078;&#x3084;&#x30AD;&#x30E3;&#x30F3;&xutri;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/26-66')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='かぐや様は告らせたい～天才たちの恋愛頭脳戦～' srcset='https://hayabusa.io/abema/series/26-66/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/26-66/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/26-66/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 40. &#x304B;&#x3050;&#x3084;&#x69D8;&#x306F;&#x544A;&#x3089;&#x305B;&#x305F;&#x3044;&#xFF5E;&#x5929;&#x624D;&#x305F;&#x3061;&#x306E;&#x604B;&#x611B;&#x982D;&#x8133;&#x6226;&#xFF5E;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/149-4')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='ありふれた職業で世界最強' srcset='https://hayabusa.io/abema/series/149-4/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/149-4/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/149-4/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 41. &#x3042;&#x308A;&#x3075;&#x308C;&#x305F;&#x8077;&#x696D;&#x3067;&#x4E16;&#x754C;&#x6700;&#x5F37;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-124')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='歌舞伎町シャーロック' srcset='https://hayabusa.io/abema/series/25-124/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-124/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-124/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 42. &#x6B4C;&#x821E;&#x4F0E;&#x753A;&#x30B7;&#x30E3;&#x30FC;&#x30ED;&#x30C3;&#x30AF;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/15-2')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='【テレビアニメ】キングダム 第1シリーズ' srcset='https://hayabusa.io/abema/series/15-2/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/15-2/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/15-2/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 43. &#x3010;&#x30C6;&#x30EC;&#x30D3;&#x30A2;&#x30CB;&#x30E1;&#x3011;&#x30AD;&#x30F3;&#x30B0;&#x30C0;&#x30E0; &#x7B2C;1&#x30B7;&#x30EA;&#x30FC;&#x30BA;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/54-46')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='巨蟲列島　劇場版' srcset='https://hayabusa.io/abema/series/54-46/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/54-46/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/54-46/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 44. &#x5DE8;&#x87F2;&#x5217;&#x5CF6;&#x3000;&#x5287;&#x5834;&#x7248;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/203-2')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='こちら葛飾区亀有公園前派出所' srcset='https://hayabusa.io/abema/series/203-2/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/203-2/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/203-2/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 45. &#x3053;&#x3061;&#x3089;&#x845B;&#x98FE;&#x533A;&#x4E80;&#x6709;&#x516C;&#x5712;&#x524D;&#x6D3E;&#x51FA;&#x6240;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/420-11')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='転生したらスライムだった件' srcset='https://hayabusa.io/abema/series/420-11/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/420-11/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/420-11/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 46. &#x8EE2;&#x751F;&#x3057;&#x305F;&#x3089;&#x30B9;&#x30E9;&#x30A4;&#x30E0;&#x3060;&#x3063;&#x305F;&#x4EF6;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-88')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='オーバーロードⅡ' srcset='https://hayabusa.io/abema/series/25-88/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-88/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-88/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 47. &#x30AA;&#x30FC;&#x30D0;&#x30FC;&#x30ED;&#x30FC;&#x30C9;&#x2161;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/19-34')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='Ｄｒ．ＳＴＯＮＥ' srcset='https://hayabusa.io/abema/series/19-34/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/19-34/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/19-34/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 48. &#xFF24;&#xFF52;&#xFF0E;&#xFF33;&#xFF34;&#xFF2F;&#xFF2E;&#xFF25;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/25-2xrwzkrsieb')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='魔法科高校の劣等生' srcset='https://hayabusa.io/abema/series/25-2xrwzkrsieb/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-2xrwzkrsieb/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-2xrwzkrsieb/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 49. &#x9B54;&#x6CD5;&#x79D1;&#x9AD8;&#x6821;&#x306E;&#x52A3;&#x7B49;&#x751F;
    .ma-ranking-mobile-ranking-list-item
        a.ma-link-block(href='/video/title/189-11')
            .ma-ranking-mobile-ranking-list-item-inner
                .ma-ranking-mobile-ranking-list-item-thumbnail
                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                        img.ma-m-thumbnail-image(alt='五等分の花嫁' srcset='https://hayabusa.io/abema/series/189-11/thumb.webp?width=128&height=72&quality=85&format=webp 1x, https://hayabusa.io/abema/series/189-11/thumb.webp?width=256&height=144&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/189-11/thumb.webp?width=128&height=72&quality=85&format=webp')
                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                            span.ma-m-play-icon
                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                .ma-ranking-mobile-ranking-list-item-body
                    .ma-ranking-mobile-ranking-heading-wrapper
                        h2.ma-ranking-mobile-ranking-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') 50. &#x4E94;&#x7B49;&#x5206;&#x306E;&#x82B1;&#x5AC1;
.ma-mobile-ranking-channel-list
    .ma-mobile-genre-list-wapper
        .ma-mobile-genre-list-title
            h3.ma-font-14.ma-color-e6 &#x30B8;&#x30E3;&#x30F3;&#x30EB;&#x5225;&#x30E9;&#x30F3;&#x30AD;&#x30F3;&#x30B0;
        ul.ma-mobile-genre-list.ma-non-list(role='tablist')
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/campaign') &#x6625;&#x306E;&#x30A2;&#x30D9;&#x30DE;TV
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/reality') &#x604B;&#x30EA;&#x30A2;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/animation') &#x30A2;&#x30CB;&#x30E1;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/variety') &#x30D0;&#x30E9;&#x30A8;&#x30C6;&#x30A3;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/drama') &#x30C9;&#x30E9;&#x30DE;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/asia') &#x97D3;&#x6D41;&#x30FB;&#x83EF;&#x6D41;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/kpop') K-POP
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/mahjong') &#x9EBB;&#x96C0;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/fightingsports') &#x683C;&#x95D8;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/shogi') &#x5C06;&#x68CB;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/news') &#x30CB;&#x30E5;&#x30FC;&#x30B9;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/tvcatchup') &#x30C6;&#x30EC;&#x671D;&#x898B;&#x9003;&#x3057;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/movie') &#x6620;&#x753B;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/sports') &#x30B9;&#x30DD;&#x30FC;&#x30C4;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/documentary') &#x30C9;&#x30AD;&#x30E5;&#x30E1;&#x30F3;&#x30BF;&#x30EA;&#x30FC;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/hiphop') HIPHOP
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/fishing') &#x91E3;&#x308A;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/game') &#x30B2;&#x30FC;&#x30E0;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/music') &#x97F3;&#x697D;
            li.ma-mobile-genre-list-item(role='tab')
                a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href='/ranking/video/free/hobby') &#x8DA3;&#x5473;
