h1.ma-pageTitle Anime Ranking
.ma-ranking-body
    .ma-ranking-type
        ul.ma-ranking-type-tablist.ma-non-list(role='tablist')
            li.ma-ranking-type-tablist-item.active(role='tab' aria-selected='true')
                p by Views
            li.ma-ranking-type-tablist-item(role='tab' aria-selected='false')
                a.ma-ranking-type-tablist-link.ma-link.ma-outline(href='/ranking/favorite') by Favorites
        .ma-select-menu
            .ma-select-menu-desktop
                div.btn.ma-select-menu-desktop-button.ma-select-menu-desktop-button-right(data-toggle="collapse" href="#select-menu-1" aria-expanded="false" aria-controls="select-menu-1")
                    span.ma-select-menu-desktop-label All
                    svg.ma-select-menu-desktop-icon.ma-icon-symbol(aria-label='' height='5' role='img' width='8')
                        use(xlink:href='/imgs/icons/dropdown.svg#svg-body')
                ul#select-menu-1.ma-select-menu-desktop-list.ma-select-menu-desktop-list-right.collapse.ma-non-list(role='menu' style='width: 390px;')
                    li.ma-select-menu-desktop-list-item.selected(tabindex='0' role='menuitem' style='width: 33.3333%;') All
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Action
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Adventure
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Cars
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Comedy
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Dementia
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Demons
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Drama
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Ecchi
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Fantasy
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Game
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Harem
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Hentai
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Historical
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Horror
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Josei
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Magic
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Mecha
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Slice of Life
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Sports
                    li.ma-select-menu-desktop-list-item(tabindex='0' role='menuitem' style='width: 33.3333%;') Yuri
    .ma-ranking-list
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/54-43')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt="BOFURI: I Don't Want to Get Hurt, so I'll Max Out My Defense." srcset='https://hayabusa.io/abema/series/54-43/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/54-43/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/54-43/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 1
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') BOFURI: I Don't Want to Get Hurt, so I'll Max Out My Defense.
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/25-138')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='異世界かるてっと２' srcset='https://hayabusa.io/abema/series/25-138/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-138/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-138/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 2
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Isekai Quartet
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/25-139')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='Re:ゼロから始める異世界生活' srcset='https://hayabusa.io/abema/series/25-139/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-139/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-139/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 3
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Re:Zero − Starting Life in Another World
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/218-101')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='魔法科高校の劣等生' srcset='https://hayabusa.io/abema/series/25-2xrwzkrsieb/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-2xrwzkrsieb/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-2xrwzkrsieb/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 4
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') The Irregular at Magic High School
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/26-75')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='鬼滅の刃' srcset='https://hayabusa.io/abema/series/26-75/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/26-75/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/26-75/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 5
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Kimetsu no Yaiba
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/190-20')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='虚構推理' srcset='https://hayabusa.io/abema/series/190-20/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/190-20/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/190-20/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 6
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') In/Spectre
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/26-87')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='ダーウィンズゲーム' srcset='https://hayabusa.io/abema/series/26-87/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/26-87/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/26-87/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 7
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Darwin's Game
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/54-41')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='プランダラ' srcset='https://hayabusa.io/abema/series/54-41/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/54-41/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/54-41/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 8
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Plunderer
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/115-68')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='あひるの空' srcset='https://hayabusa.io/abema/series/115-68/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/115-68/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/115-68/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 9
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Ahiru no Sora
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/25-129')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='慎重勇者～この勇者が俺TUEEEくせに慎重すぎる～' srcset='https://hayabusa.io/abema/series/25-129/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-129/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-129/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 10
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Cautious Hero: The Hero Is Overpowered but Overly Cautious
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/420-14')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='ワンパンマン' srcset='https://hayabusa.io/abema/series/420-14/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/420-14/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/420-14/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 11
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') One-Punch Man
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/189-17')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='地縛少年花子くん' srcset='https://hayabusa.io/abema/series/189-17/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/189-17/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/189-17/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 12
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Chi Baku Shounen Hanako Kun
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/26-80')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='Fate/Grand Order -絶対魔獣戦線バビロニア-' srcset='https://hayabusa.io/abema/series/26-80/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/26-80/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/26-80/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 13
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Fate/Grand Order
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/397-15')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='七つの大罪 神々の逆鱗' srcset='https://hayabusa.io/abema/series/397-15/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/397-15/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/397-15/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 14
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') The Seven Deadly Sins
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/199-30')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='とある科学の超電磁砲T' srcset='https://hayabusa.io/abema/series/199-30/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/199-30/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/199-30/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 15
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Toaru Kagaku no Railgun T
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/25-40xx2hk3u5ai')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='この素晴らしい世界に祝福を！' srcset='https://hayabusa.io/abema/series/25-40xx2hk3u5ai/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-40xx2hk3u5ai/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-40xx2hk3u5ai/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 16
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') KonoSuba: God’s Blessing on this Wonderful World!
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/194-14')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='ランウェイで笑って' srcset='https://hayabusa.io/abema/series/194-14/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/194-14/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/194-14/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 17
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Smile Down the Runway
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/54-42')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='異種族レビュアーズ' srcset='https://hayabusa.io/abema/series/54-42/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/54-42/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/54-42/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 18
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Interspecies Reviewers
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/512-1')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='群れなせ！シートン学園' srcset='https://hayabusa.io/abema/series/512-1/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/512-1/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/512-1/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 19
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Seton Academy: Join the Pack!
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/420-15')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='『ワンパンマン』第2期' srcset='https://hayabusa.io/abema/series/420-15/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/420-15/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/420-15/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 20
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') One-Punch Man S2
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/149-7')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='＜Infinite Dendrogram＞-インフィニット・デンドログラム-' srcset='https://hayabusa.io/abema/series/149-7/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/149-7/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/149-7/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 21
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Infinite Dendrogram
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/26-89')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='マギアレコード 魔法少女まどか☆マギカ外伝' srcset='https://hayabusa.io/abema/series/26-89/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/26-89/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/26-89/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 22
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Magia Record
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/25-45')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='この素晴らしい世界に祝福を！２' srcset='https://hayabusa.io/abema/series/25-45/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-45/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-45/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 23
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') KonoSuba: God’s Blessing on this Wonderful World! S2
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/413-4')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='魔術士オーフェンはぐれ旅' srcset='https://hayabusa.io/abema/series/413-4/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/413-4/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/413-4/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 24
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Sorcerous Stabber Orphen
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/25-6')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='オーバーロード' srcset='https://hayabusa.io/abema/series/25-6/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-6/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-6/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 25
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Overlord
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/481-2')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='ソマリと森の神様' srcset='https://hayabusa.io/abema/series/481-2/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/481-2/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/481-2/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 26
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Somali and the Forest Spirit
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/25-137')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='恋する小惑星（アステロイド）' srcset='https://hayabusa.io/abema/series/25-137/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-137/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-137/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 27
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Asteroid in Love
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/54-44')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt="かぐや様は告らせたい～天才たちの恋愛頭脳戦～" srcset="https://hayabusa.io/abema/series/26-66/thumb.webp?width=192&amp;height=108&amp;quality=85&amp;format=webp 1x, https://hayabusa.io/abema/series/26-66/thumb.webp?width=384&amp;height=216&amp;quality=85&amp;format=webp 2x" loading="lazy" class="com-m-Thumbnail__image" src="https://hayabusa.io/abema/series/26-66/thumb.webp?width=192&amp;height=108&amp;quality=85&amp;format=webp")
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 28
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Kaguya-sama wa Kokurasetai - Tensai-tachi no Ren'ai Zunōsen
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/25-118')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='女子高生の無駄づかい' srcset='https://hayabusa.io/abema/series/25-118/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/25-118/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/25-118/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 29
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') Wasteful Days of High School Girls
        .ma-ranking-list-item
            a.ma-link-block(href='/video/title/35-34')
                .ma-ranking-list-item-inner
                    .ma-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt='あたしンち 第199話〜第662話' srcset='https://hayabusa.io/abema/series/35-34/thumb.webp?width=192&height=108&quality=85&format=webp 1x, https://hayabusa.io/abema/series/35-34/thumb.webp?width=384&height=216&quality=85&format=webp 2x' loading='lazy' src='https://hayabusa.io/abema/series/35-34/thumb.webp?width=192&height=108&quality=85&format=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                span.ma-m-play-icon
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-list-item-body
                        span.ma-ranking-list-item-rank 30
                        h2.ma-ranking-list-item-heading
                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') New Atashin'chi
