<!DOCTYPE html>
html(lang="en" style="overflow-x:hidden;")
    head
        style.
            body{margin:0;}body{background-color:#d9d9d9;color: #111111;}a{color: #4907de;}a:visited{color:rgba(73,7,222, 0.7);}a:hover {color: rgba(73,7,222, 0.5);}
        // 01
        link(href='/css/animate.min.css' rel='stylesheet')
        link(href='/css/style01.min.css' rel='stylesheet')
        link(href='/css/style04.min.css' rel='stylesheet')
    body
        p(style='opacity:0;width:0;height:0;overflow:hidden;') New Anime Update Calendar on MyanimeTV
        header.animated.fadeIn
            h1.logo
                span
                    a(href="/")
                        img(src='https://www.myanime.co/logo/logo-default.png' alt='MyanimeTV')
            .h_wrap
                .h_inner
                    p.h_tx
                        span #
                        | Spring 2020 Anime Release
                    .h_t
                        h1 New Anime Update Calendar
        .week.animated.fadeIn
            ul
                li.active
                    a(href='#') Su
                li
                    a(href='#') Mo
                li
                    a(href='#') Tu
                li
                    a(href='#') We
                li
                    a(href='#') Th
                li
                    a(href='#') Fr
                li
                    a(href='#') Sa
        article.main
            h1 22
                br
                span JST
            section
                ul
                    li
                        a(href='#')
                            figure
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/f2e91c83ebf00f1d35454b5063453066_50d297d7888a63b2075e9fb0c09d6c2a.png')
                            div
                                h2
                                    span.title 22:30 - 
                                p.detail-txt A Destructive God Sits Next to Me
        article.main
            h1 23
                br
                span JST
            section
                ul
                    li
                        a(href='#')
                            figure
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/d4816c2f8c60ca0289bf162111cb20a0_f56cb31af00115c7b93e4e6be79c63d1.png')
                            div
                                h2
                                    span.title
                                        | 23:30 -
                                p.detail-txt 22/7
                                p
        article.main
            h1 2
                br
                span JST
            section
                ul
                    li
                        a(href='#' )
                            figure
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/a1fa7e28958d7bebeac4892586a12aca_961ff8e7361f6574082df07e214f9add.png')
                            div
                                h2
                                    span.title 2:00 - 
                                p.detail-txt
                                    | ID:INVADED
                    li
                        a(href='#')
                            figure
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/da0a9d89b7dfb52c85370a0bcb2823ff_fc770264f40b2f8da4bc76ec0051c4b3.png')
                            div
                                h2
                                    span.title 2:30 - 
                                p.detail-txt A3!
        article.main
            h1  3
                br
                span JST
            section
                ul
                    li
                        a(href='#' )
                            figure
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/cec61f48b60532e471adcc3c76ebfb4c_7b1a22e8e52f742fa766fca37aef86ea.png')
                            div
                                h2
                                    span.title 3:00 - 
                                p.detail-txt SHOW BY ROCK!!
        .week.animated.fadeIn
            .wrap
                h2.c_h
                    | Recommended Anime on Sunday
                // 20
                .c_twenty
                    ul.t_i
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/73bb02755ff842e925c3d9b644c699a5_070ecfed34360bcf0bed6536c524e9cd.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/6132b5a98ae470a860a4cb785e333532_0c76a6fd21ff2edf9777427d9ed4afbd.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/c7f87ab2553458c851c5f279f3c8d5e0_0d85186f72bbdb0484804cedeee3f69e.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/32702f16eeb880e92a08f07dd3b6bf8f_cf51139c691adfe85cc8794d9de015f5.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/a7b31c32fca5642be590d7120cabeaea_73aa1673be24f955a6df81d033e2ab10.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/d35af9685b45be3ffb373be95847e833_8a7b21bb90ae9aff73581b733a6f0d32.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/76bc863e85030bc7692d393ffea8eed5_e94a15b00b4df0307c0b863bf0caab97.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/b0ace5c20710aeca2e9641adb4e6517d_cfe129852ef4470a941faea4dae6c5c6.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/d7389c9d6c6c0fedf42ce601e12f27fb_c00fd02370b8380b3f57bf7093d484c9.png')
                h2.c_h.c_h_m More Recommended
                // 20
                .c_twenty
                    ul.t_i
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/8592289196b77b98f94407371dd26246_bec6b8a283b1434b7cd20206ce48dfcc.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/496495adb3c92d5bc18848b830bd4aac_78cad47efb96204212e003e7c4572421.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/6d0af2c20e5dbe1faaa92b449ac30d34_ad9b94265cf7661ca8e2b76d7881d0b0.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/d57b69524609a3a71ee20c2f6bb82eef_49b2378f49ea3630d568fee4342392de.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/6cc3a5e072d65bc16bcf1fc91059c9ca_cd6095a78243f7d8f053261c20bfa12b.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/0a878294c367b96937caacef8e9a1a42_86f5efad46ecb8acb42f7fdc60b8d3d2.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/2ccea28e1d185ac140eb96572651cf35_f2cdde0074960346be7a7f3aa63b0285.png')
                        li
                            a(href='#')
                                img(src='https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/400967/d8936f1bb875bd44670ffee6ccb1133c_d6cdb0bf8a5966f7150d79f7b0c3b555.png')

