extends ./layouts/default
block content
    div.container-fluid.ma-container-mobile
        if(currentSeason)
            div.ma-billboard
                section
                    div.ma-content-title
                        h1(class=(isMobile ? "ma-pageTitle ma-pageTitle-mobile": "ma-pageTitle")) #{currentSeason.caption}
                    - var id = "current-season"
                    - var data = currentSeason.items
                    div.ma-content-section
                        if(isMobile)
                            include ./components/cardList
                        else
                            include ./components/carouselLarge
        div.ma-billboard
            section
                div.ma-content-title
                    h1(class=(isMobile ? "ma-pageTitle ma-pageTitle-mobile": "ma-pageTitle")) Top Rank
                - var id = "top-rank"
                - var data = topRank
                div.ma-content-section
                    if(isMobile)
                        include ./components/cardList
                    else
                        include ./components/carouselSmall
        div.ma-billboard
            each val in features
                section
                    - var id = val.name
                    - var data = val.cards
                    div.ma-content-title
                        h1(class=(isMobile ? "ma-pageTitle ma-pageTitle-mobile": "ma-pageTitle")) #{val.title}
                    div.ma-content-section
                        if(isMobile)
                            include ./components/cardList
                        else
                            include ./components/carouselMedium