*, ::after, ::before {
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
  word-wrap: break-word;
}

#player {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.player-container {
  background: #000;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, p, pre {
  margin: 0;
}

.myanimev3 {
  background-color: #171717!important;
  line-height: 1.5!important;
  font-size: 14px!important;
}

.ma-sidebar-overlay-mobile {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.toggled .ma-sidebar-overlay-mobile {
  opacity: 1;
  pointer-events: auto;
}

.ma-font-18 {
  font-size: 16px;
}

.ma-font-16 {
  font-size: 16px;
}

.ma-font-15 {
  font-size: 15px;
}

.ma-font-14 {
  font-size: 14px;
}

.ma-font-13 {
  font-size: 13px;
}

.ma-font-12 {
  font-size: 12px;
}

.ma-font-10 {
  font-size: 10px;
}

.ma-color-999 {
  color: #999;
}

.ma-color-e6 {
  color: #e6e6e6;
}

.ma-breadcrumb-container {
  margin: 0 auto;
}

.ma-breadcrumb-list {
  color: #212121;
  display: flex;
  line-height: 1;
  padding: 16px 0;
}

.ma-breadcrumb-item {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}

.ma-breadcrumb-item+.ma-breadcrumb-item:before {
  border-color: #999;
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: "";
  height: 6px;
  left: 3px;
  position: absolute;
  top: 3px;
  transform: rotate(45deg);
  width: 6px;
}

.ma-breadcrumb-link {
  color: #3a2;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
}

a:hover.ma-breadcrumb-link {
  color: #3a2;
  text-decoration: none;
}

.ma-breadcrumb-item:last-child .ma-breadcrumb-link {
  color: #e6e6e6;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ma-content-title {
  margin-bottom: 16px;
}

.ma-m-width-300 {
  min-width: 300px;
}

.ma-link-dim {
  transition: opacity .1s cubic-bezier(.215, .61, .355, 1);
}

.ma-link-dim:hover {
  opacity: .4;
}

.ma-desktop-content {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 772px;
  overflow: auto;
}

.ma-content-section {
  margin-bottom: 32px;
  transition: transform .15s linear;
}

.ma-navbar {
  background: #171717!important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3)!important;
  box-sizing: border-box!important;
}

.bc-no-bg .breadcrumb {
  background-color: transparent!important;
}

.ma-pageTitle {
  border-bottom: 1px solid hsla(0, 0%, 100%, .12);
  color: #e6e6e6;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  padding: 16px 0;
}

.ma-card {
  background-color: #212121;
  border-radius: 4px;
  height: 100%;
  line-height: 1;
  overflow: hidden;
  position: relative;
  transition: opacity .25s cubic-bezier(.215, .61, .355, 1);
  width: 100%;
}

.ma-card-title {
  color: #e6e6e6;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}

.ma-card-title-mobile {
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 4px;
}

.ma-card-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ma-card-small-rank {
  align-items: center;
  color: #fff;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  width: 32px;
}

.ma-card-small-thumb {
  flex-basis: 128px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 72px;
  width: 128px;
}

.ma-card-small-title {
  color: #e6e6e6;
  font-size: 12px;
  font-weight: 700;
}

.ma-card-small {
  align-items: center;
  display: flex;
  padding: 8px;
}

.ma-card a:hover::after {
  opacity: 1;
}

.ma-card a::after {
  background-color: hsla(0, 0%, 100%, .08);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .1s linear;
}

.ma-card-list-column {
  display: flex;
  flex-direction: column;
  margin-left: -16px;
}

.ma-card-list-column-mobile {
  margin-left: -8px;
}

.ma-card-list-column-row {
  display: flex;
  margin-top: 16px;
}

.ma-card-list-column-row-mobile {
  margin-top: 8px;
}

.ma-card-list-column-row:first-child {
  margin-top: 0;
}

.ma-card-list-column-item {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  padding-left: 16px;
}

.ma-card-list-column-item-mobile {
  padding-left: 8px;
}

.ma-card-list-column-caption {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding: 16px 16px 8px;
  position: relative;
}

.ma-card-list-column-caption-mobile {
  padding: 8px 8px 4px;
}

.ma-card-list-column-caption-inner {
  flex-grow: 1;
}

.ma-card-title .ma-search-bar-full, .ma-search-bar-full>.ma-navbar-search-bar {
  width: 100%;
}

.ma-card-medium {
  height: 195px;
}

a:hover.ma-link-block {
  color: currentColor;
  text-decoration: none!important;
}

.ma-link-block {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

.ma-link-block:focus::after, .ma-link-block:hover::after {
  opacity: 1;
}

.ma-link-block::after {
  background-color: hsla(0, 0%, 100%, .08);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .1s linear;
}

.ma-link-block:focus .ma-m-thumbnail-play, .ma-link-block:hover .ma-m-thumbnail-play {
  transform: translate(-50%, -50%) scale(1.08);
}

a:hover.ma-link {
  color: #e6e6e6;
  text-decoration: none;
}

.ma-link a:hover {
  text-decoration: none;
}

.ma-link-inline {
  border-radius: 4px;
  padding: 3px;
  transition: background-color .1s linear;
}

.ma-link-inline:focus, .ma-link-inline:hover {
  background-color: hsla(0, 0%, 100%, .08);
}

.ma-newest-label::before {
  background-color: #3a2;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin-right: 4px;
  width: 8px;
}

.ma-newest-label {
  align-items: center;
  color: #999;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 8px;
}

.ma-newest-label-mobile {
  margin-bottom: 4px;
}

.ma-carousel-next, .ma-carousel-prev {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 5%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}

.ma-carousel-next:hover, .ma-carousel-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.ma-carousel-next {
  right: 0;
}

.ma-carousel-prev {
  left: 0;
}

.ma-carousel-next-icon, .ma-carousel-prev-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: no-repeat 50%/100% 100%;
}

.ma-carousel-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.ma-carousel-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-disabled {
  display: none!important;
}

ol.ma-non-list, ul.ma-non-list {
  list-style: none;
}

.ma-navbar-menu-left {
  max-height: 46px;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.ma-navbar-menu-item {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 4px;
}

.ma-navbar-menu {
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.ma-navbar-menu:hover {
  background-color: hsla(0, 0%, 100%, .08);
  border-radius: 4px;
}

.ma-navbar-logo {
  height: 100%;
  padding: 16px 8px;
  transition: .3s ease-out;
}

.ma-navbar-button {
  height: 100%;
  width: 100%;
}

.ma-navbar-search-bar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.ma-sidebar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ma-navbar-search-area {
  align-items: center;
  display: flex;
  height: 46px;
  position: relative;
  transition: opacity .5s cubic-bezier(.215, .61, .355, 1), width .5s cubic-bezier(.215, .61, .355, 1);
  width: 228px;
}

.ma-navbar-search-eps-area {
  align-items: center;
  display: flex;
  height: 46px;
  position: relative;
  transition: opacity .5s cubic-bezier(.215, .61, .355, 1), width .5s cubic-bezier(.215, .61, .355, 1);
  width: 228px;
}

.ma-navbar-search-input {
  background: #212121;
  border: 1px solid hsla(0, 0%, 100%, .12);
  border-radius: 4px;
  box-sizing: border-box;
  color: #999;
  flex-grow: 1;
  font-size: 16px;
  height: 100%;
  padding: 0 32px 0 8px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.ma-navbar-search-input::placeholder {
  color: #999;
}

.ma-navbar-search-input-collapsed {
  background: #212121;
  border: 1px solid hsla(0, 0%, 100%, .12);
  border-radius: 4px;
  box-sizing: border-box;
  color: #999;
  flex-grow: 0;
  font-size: 16px;
  height: 100%;
  margin-left: -16px;
  opacity: 0;
  padding-left: 16px;
  transition: width .5s cubic-bezier(.215, .61, .355, 1);
  visibility: hidden;
  width: 0;
}

input.ma-navbar-search-input[type=text]:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #212121;
}

.ma-navbar-search-icon {
  margin-right: 12px;
  position: absolute;
  right: 0;
  top: 12px;
  fill: #fff;
  color: #999;
  vertical-align: middle;
}

.ma-navbar-search-content {
  position: absolute;
  width: 100%;
}

.ma-bg-dark {
  background-color: #171717!important;
}

.ma-anime-info {
  margin-bottom: 24px;
}

.ma-anime-section {
  display: flex;
}

.ma-anime-thumb-info-column {
  flex-grow: 0;
  flex-shrink: 0;
}

.ma-anime-thumb-info {
  background: #000;
  border-radius: 4px;
  display: flex;
  height: 341px;
  overflow: hidden;
  width: 240px;
}

.ma-anime-thumb-image {
  height: 341px;
  width: 240px;
}

.ma-anime-details-info {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding-left: 24px;
  padding-top: 4px;
}

.ma-anime-title-info {
  color: #e6e6e6;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
}

.ma-anime-genre-info {
  color: #999;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 16px;
}

.ma-anime-caption-info {
  color: #e6e6e6;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
}

.ma-anime-content-info {
  margin-bottom: 16px;
  max-height: 80px;
  overflow: hidden;
  position: relative;
  transition: max-height .25s cubic-bezier(.215, .61, .355, 1);
}

.ma-readmore-expanded-info::before {
  opacity: 0;
}

.ma-readmore-expanded-info.ma-anime-content-info::before {
  position: relative;
}

.ma-share {
  display: flex;
  margin-bottom: 24px;
}

.ma-share-container {
  display: flex;
  justify-content: space-between;
}

ul.ma-share-container {
  margin: 0;
  padding: 0;
}

.ma-share-item {
  display: inline-block;
  line-height: 1;
  min-width: 80px;
  text-align: center;
  vertical-align: top;
  width: 50%;
}

.ma-share-button-section {
  margin: 0 auto;
  width: 44px;
  height: 44px;
}

.ma-share-twitter-button {
  background-color: #1da1f2;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: transform .1s linear;
  width: 100%;
  height: 100%;
}

.ma-share-twitter-button svg {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.ma-icon-symbol {
  fill: #fff;
  vertical-align: middle;
}

.ma-share-twitter-icon {
  fill: #fff;
  vertical-align: middle;
}

.ma-share-label {
  color: #e6e6e6;
  display: block;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 6px;
  font-size: 10px;
}

.ma-share-facebook-button {
  background-color: #1877f2;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: transform .1s linear;
  width: 100%;
  height: 100%;
}

.ma-share-line-button {
  background-color: #00b900;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: transform .1s linear;
  width: 100%;
  height: 100%;
}

.ma-share-line-button:hover {
  transform: scale(1.1);
}

.ma-share-facebook-button::before, .ma-share-twitter-button::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.ma-share-facebook-button:focus, .ma-share-twitter-button:focus {
  outline: 5px auto #3a2;
}

[tabindex="-1"]:focus {
  outline: none!important;
}

.ma-share-facebook-button svg, .ma-share-line-button svg {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 54.55%;
}

.ma-share-facebook-button:hover, .ma-share-twitter-button:hover {
  background-color: #40a9ef;
  transform: scale(1.1);
}

.ma-share-facebook-icon {
  overflow: hidden;
  fill: #fff;
  vertical-align: middle;
  pointer-events: none;
}

.ma-share-line-button-icon {
  vertical-align: middle;
  fill: #fff;
}

.ma-anime-content-info::before {
  background: linear-gradient(180deg, hsla(0, 0%, 9%, 0), #171717);
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  max-height: 80px;
  position: absolute;
  transition: opacity .25s cubic-bezier(.215, .61, .355, 1);
  width: 100%;
}

.ma-anime-content-section-info {
  color: #e6e6e6;
  font-size: 14px;
  margin-bottom: 16px;
}

.ma-readmore-button-section {
  margin-bottom: 24px;
}

.ma-readmore-button {
  background: transparent;
  border-radius: 4px;
  color: #3a2;
  font-size: 16px;
  font-weight: 700;
  margin-left: -4px;
  padding: 4px;
  transition: background-color .1s linear;
}

.ma-readmore-button-mobile {
  color: #3a2;
  padding: 8px 0;
  width: 100%;
}

.ma-readmore-button:hover {
  color: #3a2;
  background-color: hsla(0, 0%, 100%, .08);
}

.ma-episode-list-section-header {
  width: 100%;
}

.ma-episode-list-section-sort-container {
  background-color: #212121;
  display: flex;
  padding: 16px;
}

.ma-episode-list-section-sort {
  height: 100%;
  margin-left: auto;
  order: 2;
}

.ma-episode-list-section-inner {
  align-items: baseline;
  display: flex;
}

.ma-episode-list {
  background-color: #212121;
  padding-bottom: 16px;
}

.ma-column-list {
  display: flex;
  flex-direction: column;
}

.ma-column {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  -moz-columns: 15em;
  columns: 15em;
  -moz-column-gap: 4em;
  column-gap: 4em;
}

.ma-letter {
  color: orange;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ma-column li {
  padding-bottom: 10px;
}

.ma-letter:first-of-type {
  padding-top: 0;
}

.ma-episode-list-items {
  display: flex;
  position: relative;
  z-index: 0;
}

.ma-episode-list-container {
  border-bottom: 1px solid hsla(0, 0%, 100%, .12);
  display: flex;
  margin: 0 16px;
  padding: 16px 0;
  position: relative;
}

.ma-episode-list-left {
  margin-right: 16px;
}

.ma-episode-list-card {
  height: 108px;
  width: 192px;
}

.ma-m-thumbnail {
  background-color: #333;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ma-m-thumbnail img {
  width: 100%;
}

.ma-m-thumbnail::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.ma-m-thumbnail-image, .ma-m-thumbnail-play {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ma-m-thumbnail-loaded {
  background-color: #0b0b0b;
}

.ma-m-thumbnail-play-desktop {
  height: 64px;
  width: 64px;
}

.ma-m-thumbnail-play-mobile {
  height: 40px;
  width: 40px;
}

.ma-m-thumbnail-play {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 50%;
  color: #fff;
  transition: transform .3s cubic-bezier(.215, .61, .355, 1);
}

.ma-m-play-icon {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  border: 2px solid;
  border-radius: 50%;
  display: inline-block;
  padding: 18.75%;
}

.ma-m-play-icon-small {
  border: none;
  padding: 20%;
}

.ma-symbol {
  fill: currentColor;
}

a:hover.ma-outline {
  outline-width: 0;
}

.ma-episode-list-caption {
  flex: 1;
  margin-top: 4px;
  min-width: 0;
}

.ma-episode-list-body, .ma-episode-list-header {
  display: flex;
  flex-direction: column;
}

.ma-episode-list-title {
  color: #e6e6e6;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 8px;
}

.ma-collapsed-text-container {
  display: block;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
}

.ma-collapsed-text-container {
  -webkit-box-orient: vertical!important;
  display: -webkit-box;
  text-overflow: ellipsis;
  white-space: normal;
}

.ma-collapsed-text-container::before {
  content: "";
  position: static;
}

.ma-collapsed-text-container::after {
  content: "";
  float: none;
}

.ma-episode-list-decuration {
  color: #999;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 8px;
}

.ma-episode-list-body {
  position: relative;
}

.ma-episode-list-lang {
  color: #999;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 8px;
}

.ma-episode-list-lang-text {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.ma-episode-list-lang-label {
  background-color: hsla(0, 0%, 100%, .08);
  border-radius: 4px;
  color: #999;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  padding: 3px 4px;
}

.ma-episode-list-lang-label:not(:first-child) {
  margin-left: 8px;
}

.ma-episode-list-description {
  color: #999;
  font-size: 12px;
  line-height: 1.3;
}

.ma-two-line-clamp {
  line-height: 1.3;
  max-height: 2.6em;
  -webkit-line-clamp: 2;
}

.ma-one-line-clamp {
  line-height: 1;
  max-height: 1em;
  -webkit-line-clamp: 1;
}

.ma-episode-list-add-button {
  align-items: center;
  display: flex;
  width: 44px;
  z-index: 1;
}

.ma-episode-list-container-recommend {
  margin: 16px auto 0;
  padding-top: 16px;
}

.ma-episode-list-recommend-title-card-list-section {
  color: #e6e6e6;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  padding: 16px 0;
}

.ma-search-bar-full {
  margin: 0 18px!important;
  width: 100%;
}

.ma-searching-input {
  background: #fff!important;
  color: #212121!important;
  flex-grow: 1!important;
  opacity: 1!important;
  visibility: visible!important;
}

.ma-search-suggest-list {
  position: fixed;
  right: 12px;
  top: 60px;
  width: 228px;
  z-index: 12;
}

.ma-search-suggest-list--full {
  width: calc(100% - 22px);
}

.ma-search-suggest-text {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden
}

.ma-search-suggest-text:hover {
  background-color: #f5f5f5;
}

.ma-navbar-search-area-searching {
  justify-content: flex-end;
  margin-right: 0;
  transition: opacity .5s cubic-bezier(.215, .61, .355, 1), width .5s cubic-bezier(.215, .61, .355, 1);
  width: 100%!important;
}

.ma-navbar-search-eps-area-searching {
  justify-content: flex-end;
  margin-right: 0;
  transition: opacity .5s cubic-bezier(.215, .61, .355, 1), width .5s cubic-bezier(.215, .61, .355, 1);
  width: 100%!important;
}

.ma-player-container {
  position: relative;
}

.ma-player-container-inlined {
  background-color: #171717;
}

.ma-player-container-inlined::before {
  content: "";
  display: block;
  padding-top: 56.25%;
  width: 100%;
}

.ma-player-container-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ma-player-container-inlined>.ma-player-container-wrapper {
  z-index: 11;
}

.ma-player-thumbnail-container {
  position: relative;
}

.ma-player-thumbnail {
  background-color: #333;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ma-container {
  margin: 0 auto;
  max-width: 1280px;
  overflow-x: visible;
}

.ma-footer-container {
  margin-top: 32px;
}

.ma-footer {
  background-color: #171717;
  border-top: 1px solid #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ma-footer-inner {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  min-width: 724px;
  padding: 0 16px 44px;
}

.ma-footer-left {
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: 4px;
  width: 100%;
}

.ma-footer-right {
  flex-grow: 0;
  flex-shrink: 1;
  padding-top: 12px;
}

.ma-footer-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
}

.ma-footer-list-item {
  border-radius: 4px;
  margin: 0 4px;
  overflow: hidden;
  white-space: nowrap;
}

.ma-footer-link-text {
  color: #e6e6e6;
  display: inline-block;
  font-size: 16px;
  line-height: 2.75;
  padding: 0 8px;
}

.ma-footer-copyright {
  color: #999;
  display: block;
  font-size: 14px;
  line-height: 1;
  margin-top: 16px;
}

.ma-footer-parent-wrapper {
  margin-top: 16px;
}

.ma-footer-parent {
  border: 1px solid #999;
  border-radius: 2px;
  color: #999;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  padding: 2px;
}

.ma-episode-details-container {
  margin-top: 16px;
}

.ma-episode-details-header-left {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: -4px;
  margin-right: 12px;
  overflow: hidden;
  padding-left: 4px;
}

.ma-episode-details-header-right {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 12px;
  margin-top: 8px;
}

.ma-episode-details-anime-title {
  color: #999;
  font-size: 16px;
  line-height: 1.3;
}

.ma-episode-details-title {
  color: #e6e6e6;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 16px;
  word-break: break-all;
}

.ma-episode-details-supplement {
  color: #999;
  font-size: 16px;
  line-height: 1;
  margin-top: 16px;
}

.ma-episode-details-supplement-item:first-child {
  margin-left: 0;
}

.ma-episode-details-supplement-item {
  margin-left: 1em;
}

.ma-episode-details-lang-text {
  color: #999;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin-top: 16px;
}

.ma-episode-details-readmore {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s cubic-bezier(.215, .61, .355, 1);
}

.ma-episode-details-readmore-inner, .ma-episode-details-readmore-button-paragraph {
  margin-top: 16px;
}

.ma-episode-details-readmore-button {
  border-radius: 4px;
  color: #3a2;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-left: -4px;
  padding: 4px;
  transition: background-color .1s linear;
}

.ma-episode-details-readmore-block-section {
  line-height: 24px;
  margin-bottom: 16px;
  word-break: break-all;
}

.ma-episode-details-readmore-block-title {
  margin-bottom: 16px;
}

.ma-episode-details-readmore-block-thumbnails {
  line-height: 0;
  margin-bottom: 16px;
}

.ma-episode-details-readmore-block-thumbnail {
  display: inline-block;
  margin: 0 16px 8px 0;
  width: 192px;
}

.ma-episode-details-block-content {
  margin-bottom: 24px;
  word-break: break-all;
}

.ma-episode-details-block-wrapper .ma-episode-details-block-section:first-child {
  padding-right: 8px;
  width: 50%;
}

.ma-episode-details-block-section {
  line-height: 24px;
  margin-bottom: 16px;
  word-break: break-all;
}

.ma-episode-section-wrapper {
  margin-top: 24px;
}

.ma-carousel-card-wrapper {
  padding-right: 16px;
  position: relative;
}

.ma-episode-details-block-wrapper {
  display: flex
}

.ma-ranking-body {
  background: #212121;
  padding: 24px 0 0;
}

.ma-ranking-type {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px 70px;
  padding: 0 16px 0 0;
}

.ma-ranking-type-tablist {
  align-items: center;
  display: flex;
}

.ma-ranking-type-tablist-item {
  border-radius: 100px;
  box-sizing: border-box;
  color: #999;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  min-width: 98px;
  padding: 4px 0;
  text-align: center;
  transition: background-color .1s linear 0s, color .1s linear 0s;
}

.ma-ranking-type-tablist-item.active {
  background-color: #3a2;
  color: #fff;
  font-weight: 700;
  padding: 4px 12px;
}

.ma-ranking-type-tablist-item.active a {
  pointer-events: none;
}

.ma-ranking-type-tablist-item:not(.active):hover {
  background-color: hsla(0, 0%, 100%, .08);
  color: #e6e6e6;
}

.ma-ranking-type-tablist-item:not(:first-child) {
  margin-left: 16px;
}

.ma-ranking-type-tablist-link {
  color: currentColor;
  display: block;
  height: 100%;
  width: 100%;
}

.ma-select-menu {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  max-width: 100%;
  position: relative;
}

.ma-select-menu-desktop {
  color: #e6e6e6;
  display: inline-block;
}

.ma-select-menu-desktop-button-right {
  text-align: right;
}

.ma-select-menu-desktop-button {
  border-radius: 4px;
  padding: 12px 16px;
}

.ma-select-menu-desktop-button:hover {
  background-color: hsla(0, 0%, 100%, .08);
}

.ma-select-menu-desktop-label {
  color: #e6e6e6;
}

.ma-select-menu-desktop-icon {
  fill: #666;
  margin: 0 0 0 8px;
  width: 8px;
}

.ma-select-menu-desktop-list {
  background-color: #212121;
  border: 1px solid hsla(0, 0%, 100%, .12);
  border-radius: 4px;
  box-shadow: 0 2px 4px #000;
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
  position: absolute;
  text-align: left;
  z-index: 1;
}

.ma-select-menu-desktop-list-right {
  right: 0;
}

.ma-select-menu-desktop-list-item a {
  line-height: 1.3;
  padding: 12px 8px;
  transition: background-color .1s linear 0s;
}

.ma-select-menu-desktop-list-item a:focus, .ma-select-menu-desktop-list-item a:hover {
  background-color: hsla(0, 0%, 100%, .08);
  cursor: pointer;
}

.ma-select-menu-desktop-list-item a {
  line-height: 1.3;
  padding: 12px 8px;
  color: currentColor;
  width: 100%;
  display: inline-block;
}

.ma-select-menu-desktop-list-item.selected {
  color: #3a2;
}

.ma-select-menu-mobile {
  max-width: 100%;
  position: relative;
}

.ma-select-menu-mobile-label {
  align-items: center;
  color: #e6e6e6;
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding: 0 4px;
}

.ma-select-menu-mobile-icon {
  fill: #666;
  margin: 0 0 0 8px;
  width: 8px;
}

.ma-select-menu-mobile-label-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 10px);
}

.ma-select-menu-mobile-select {
  background-color: transparent;
  border: none;
  color: transparent;
  font-size: 16px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.ma-ranking-list {
  min-height: calc(100vh - 285px);
  position: relative;
}

.ma-ranking-list-item {
  position: relative;
}

.ma-ranking-list-item-inner {
  border-top: 1px solid hsla(0, 0%, 100%, .12);
  color: #e6e6e6;
  display: flex;
  margin: 0 12px;
  padding: 16px 0;
  position: relative;
}

.ma-ranking-list-item-thumbnail {
  flex-grow: 0;
  flex-shrink: 0;
  height: 108px;
  width: 192px;
}

.ma-ranking-list-item-body {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  padding-left: 12px;
}

.ma-ranking-list-item-rank {
  font-family: helvetica, arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  margin: 0 12px 0 0;
  min-width: 50px;
  text-align: center;
  white-space: nowrap;
}

.ma-ranking-list-item-heading {
  flex: 1 1;
  font-size: 18px;
  min-width: 0;
  word-wrap: break-word;
}

.ma-lang-icon::before {
  font-size: 1.8em;
  line-height: 1.67;
}

.ma-search-result-container-heading {
  margin-bottom: 16px;
}

.ma-search-result-container {
  margin-bottom: 24px;
}

.ma-search-result-container-border {
  border-bottom: 1px solid #333;
}

.ma-search-result-list-item {
  display: flex;
}

.ma-search-result-list-item-inner {
  border-bottom: 1px solid #333;
  display: flex;
  margin: 0 16px;
  padding: 16px 0;
}

.ma-search-result-card {
  flex-shrink: 0;
  margin-right: 16px;
  width: 192px;
}

.ma-search-result-body {
  flex-basis: 100%;
  line-height: 1;
  margin-top: 4px;
  min-width: 0;
  word-break: break-all;
}

.ma-search-result-body-title {
  color: #e6e6e6;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 8px;
}

.ma-text-icon-dark .ma-text-icon {
  fill: #fff;
}

.ma-text-icon {
  margin: 0 3px 3px 0;
  vertical-align: middle;
}

.ma-esbox {
  display: inline-block;
  position: relative;
  margin-right: auto;
}

.ma-jump-ep {
  height: 20px;
  width: 48px!important;
  max-width: 60px;
  background: #000;
  line-height: normal;
  text-align: center;
  border: 0;
  border-radius: 2px 2px 0;
  outline: 0;
}

.ma-find-ep-input {
  background: #212121;
  border: 1px solid hsla(0, 0%, 100%, .12);
  border-radius: 4px;
  box-sizing: border-box;
  color: #999;
  flex-grow: 1;
  font-size: 16px;
  height: 100%;
  padding: 0 32px 0 8px;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
}

.ma-find-ep-input::placeholder {
  color: #999;
}

.ma-find-ep-input-collapsed {
  background: #212121;
  border: 1px solid hsla(0, 0%, 100%, .12);
  border-radius: 4px;
  box-sizing: border-box;
  color: #999;
  flex-grow: 0;
  font-size: 16px;
  height: 100%;
  margin-left: -16px;
  opacity: 0;
  padding-left: 16px;
  transition: width .5s cubic-bezier(.215, .61, .355, 1);
  visibility: hidden;
  width: 0;
}

input.ma-find-ep-input[type=text]:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #212121;
}

.ma-more-link-wrapper {
  display: flex;
  flex-shrink: 0;
  margin-right: 12px;
}

.ma-more-link-block {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.ma-more-link-text {
  color: #3a2;
  font-size: 16px;
}

.ma-more-link-arrow {
  color: #999;
  height: 16px;
  line-height: 0;
  width: 16px;
}

.ma-more-link-svg {
  fill: currentColor;
  padding: 1px;
}

.ma-carousel-section-header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ma-carousel-section-text {
  color: #e6e6e6;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-right: 24px;
  overflow: hidden;
  padding: 16px 0;
}

@media screen and (max-width: 1024px) {
  .ma-navbar-searching .ma-navbar-menu-left {
    display: none;
  }
  .ma-navbar-search-area {
    align-items: center;
    display: flex;
    height: 46px;
    margin-right: 8px;
    position: relative;
    width: 32px;
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

body {
  font-size: 0.9rem;
  color: #e6e6e6;
}

.page-wrapper .sidebar-wrapper, .sidebar-wrapper .sidebar-brand>a, .sidebar-wrapper .sidebar-dropdown>a:after, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before, .sidebar-wrapper ul li a i, .page-wrapper .page-content, .sidebar-wrapper .sidebar-search input.search-menu, .sidebar-wrapper .sidebar-search .input-group-text, .sidebar-wrapper .sidebar-menu ul li a, #show-sidebar, #close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}

/*----------------show sidebar button----------------*/

#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}

.page-wrapper.toggled #show-sidebar {
  left: -40px;
}

.ma-logo {
  height: 27px;
  width: 136px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 220px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -220px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  width: 100%;
  position: relative;
}

.sidebar-content.ma-nav-fixed {
  margin-top: 62px;
  overflow: hidden;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand>a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}

/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info>span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search>div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
  display: inline-block;
  animation: swing ease-in-out 0.7s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label, .sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer>a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer>a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

.ma-navbar-scroll {
  background: #000!important;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  margin-top: 68px;
  padding: 0 24px;
  overflow: hidden;
}

.page-wrapper .page-content>div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525965;
}

::-webkit-scrollbar-thumb:active {
  background: #525965;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
  background-color: #171717;
  box-shadow: 2px 0 16px 0 rgba(0, 0, 0, .2);
}

.chiller-theme .sidebar-wrapper .sidebar-header, .chiller-theme .sidebar-wrapper .sidebar-search, .chiller-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role, .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status, .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text, .chiller-theme .sidebar-wrapper .sidebar-brand>a, .chiller-theme .sidebar-wrapper .sidebar-menu ul li a, .chiller-theme .sidebar-footer>a {
  color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a, .chiller-theme .sidebar-wrapper .sidebar-header .user-info, .chiller-theme .sidebar-wrapper .sidebar-brand>a:hover, .chiller-theme .sidebar-footer>a:hover i {
  color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i, .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before, .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div, .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
  border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
  border-right: none;
}

/* Mobile */

.ma-mobile-container {
  background-color: #171717;
}

.adapt-mobile .ma-container-mobile {
  padding-top: 62px;
}

.adapt-mobile .content-title {
  margin-bottom: 8px;
}

.ma-pageTitle-mobile {
  font-size: 16px;
  padding: 24px 0 8px;
}

.adapt-mobile .chiller-theme .sidebar-wrapper {
  box-shadow: none;
}

.ma-footer-container-mobile {
  margin-top: 8px;
  background-color: #171717;
  padding-bottom: 124px;
}

.ma-footer-mobile-app {
  margin-bottom: 8px;
}

.ma-footer-mobile-app-banner {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.ma-footer-mobile-app-banner img {
  width: 100%;
}

.ma-footer-mobile {
  border-top: 1px solid #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 640px;
  padding: 0 8px;
  display: block;
  text-align: center;
}

.ma-footer-mobile-list {
  margin: 20px 0 0;
}

.ma-footer-mobile-list-item {
  line-height: 1;
  margin: 0 0 32px;
}

.ma-footer-mobile-parent {
  border: 1px solid #999;
  border-radius: 2px;
  line-height: 1;
  padding: 0 4px 2px;
}

a:hover.ma-link-block-mobile {
  text-decoration: none!important;
}

.ma-link-block-mobile {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

.ma-container-mobile .ma-anime-info {
  margin-bottom: 0;
  width: 100%;
}

.ma-container-mobile .ma-anime-info {
  margin-bottom: 0;
  width: 100%;
}

.ma-anime-section-mobile {
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.ma-anime-section-image-mobile {
  margin-bottom: 12px;
  position: relative;
  width: 100%;
}

.ma-anime-section-mobile-card-img {
  position: relative;
}

/* .ma-anime-section-mobile-card-img::after {
  background-color: rgba(0, 0, 0, .4);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
} */

.ma-anime-section-content-mobile {
  padding: 16px 8px;
  width: 100%;
}

.ma-anime-section-content-header-mobile {
  margin-bottom: 16px;
}

.ma-anime-section-content-title {
  color: #e6e6e6;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.ma-anime-section-content-meta {
  color: #999;
  font-size: 14px;
  margin-bottom: 4px;
}

.ma-anime-caption-info-mobile {
  margin-bottom: 8px;
}

.ma-anime-description-content-mobile {
  position: relative;
}

.ma-anime-description-content-mobile-collapsed {
  overflow: hidden;
}

.ma-anime-description-content-mobile-collapsed::before {
  background: linear-gradient(180deg, hsla(0, 0%, 9%, 0) 0, #171717);
  bottom: 0;
  content: "";
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
}

.ma-anime-section-socical-mobile {
  display: flex;
  margin: 12px auto 0;
  width: 284px;
}

.adapt-mobile .ma-episode-list-container-recommend {
  border-top: 1px solid hsla(0, 0%, 100%, .12);
  width: 100%;
}

.ma-episode-list-recommend-title-card-list-section-mobile {
  font-size: 16px;
}

.adapt-mobile .ma-episode-details-container {
  margin: 8px auto 0;
  padding: 0 16px;
  width: 100%;
}

.ma-episode-section-mobile {
  background-color: #171717;
  display: flex;
  padding-left: 0;
  width: 100%;
}

.ma-episode-section-main-mobile {
  flex-grow: 1;
  width: 100%;
}

.ma-episode-section-header-mobile {
  margin-bottom: 12px;
  margin-top: 4px;
}

.ma-episode-section-header-inner-mobile {
  display: flex;
  text-align: left;
  width: 100%;
}

.ma-episode-section-header-texts {
  flex: 1 1 auto;
  margin-right: 8px;
  overflow: hidden;
}

.ma-episode-details-anime-title-mobile {
  font-size: 12px;
}

.ma-episode-details-title-mobile {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 4px;
}

.ma-episode-details-supplement-mobile {
  font-size: 12px;
  margin-top: 4px;
}

.ma-episode-details-lang-text-mobile {
  font-size: 12px;
  margin-top: 8px;
}

.ma-episode-list-lang-label-mobile {
  font-size: 10px;
}

.ma-episode-details-readmore-icon-mobile {
  flex: 0 0;
}

.ma-readmore-button-section-mobile {
  flex: 0 0;
}

.ma-episode-details-dropdown {
  color: #e6e6e6;
  fill: currentColor;
  height: 24px;
  padding: 9px 8px;
  transform: rotate(180deg);
  transform-origin: center 11px;
  transition: transform .3s cubic-bezier(.215, .61, .355, 1);
  width: 24px;
}

.ma-episode-details-dropdown-collapsed {
  transform: rotate(0deg);
  fill: #fff;
  vertical-align: middle;
}

.ma-episode-section-details-mobile {
  margin-bottom: 24px;
  overflow: hidden;
  transition: height .3s cubic-bezier(.215, .61, .355, 1);
}

.ma-episode-section-details-mobile-collapsed {
  height: 0;
  margin-bottom: 0;
}

.adapt-mobile .ma-episode-details-readmore-block-title {
  line-height: 1;
  margin-bottom: 8px;
}

.adapt-mobile .ma-episode-details-block-content {
  margin-bottom: 16px;
}

.adapt-mobile .ma-episode-details-readmore-block-title {
  line-height: 1;
  margin-bottom: 8px;
}

.adapt-mobile .ma-share-container {
  width: 100%;
}

.adapt-mobile .ma-share-item {
  margin: 8px auto;
}

.adapt-mobile .ma-breadcrumb-container {
  margin-top: 12px;
  padding: 0 8px;
  width: 100%;
}

.adapt-mobile .ma-breadcrumb-list {
  font-size: 12px;
  padding: 12px 0;
}

.ma-episode-section-episode-list-mobile {
  margin-bottom: 16px;
}

.ma-episode-section-episode-list-header-mobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.ma-episode-section-episode-list-title-mobile {
  color: #e6e6e6;
  font-size: 16px;
  font-weight: 700;
}

.ma-episode-section-link-to-anime {
  color: #3a2;
  font-size: 14px;
}

.ma-episode-list-mobile-item:not(:last-child) {
  border-bottom: 1px solid hsla(0, 0%, 100%, .12);
}

.ma-episode-list-mobile-item {
  padding: 12px 8px;
}

.ma-episode-list-mobile-item-inner {
  display: flex;
}

.ma-episode-list-thumbnail-mobile {
  margin-right: 12px;
  min-width: 128px;
  width: 128px;
}

.ma-episode-list-title-mobile {
  color: #e6e6e6;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.ma-episode-list-lang-text-mobile {
  color: #999;
  font-size: 10px;
  font-weight: 700;
}

.ma-episode-section-buttons {
  margin: 0 auto;
}

.ma-episode-section-card-list-mobile {
  margin-top: 16px;
}

.ma-episode-section-card-title-mobile {
  color: #e6e6e6;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.ma-breadcrumb-item+.ma-breadcrumb-item {
  overflow: hidden;
  padding-left: 16px;
}

.ma-ranking-mobile-type-tab-container {
  background-color: #212121;
  border-bottom: 1px solid #333;
  display: flex;
  padding: 8px 16px;
}

.ma-ranking-mobile-selector {
  align-items: center;
  display: flex;
  margin-left: auto;
  position: relative;
}

.ma-ranking-mobile-ranking-list {
  background-color: #212121;
}

.ma-ranking-mobile-ranking-list-item {
  position: relative;
}

.ma-ranking-mobile-ranking-list-item-inner {
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, .12);
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.ma-ranking-mobile-ranking-list-item-thumbnail {
  flex-grow: 0;
  flex-shrink: 0;
  height: 72px;
  width: 128px;
}

.ma-ranking-mobile-ranking-list-item-body {
  flex-grow: 1;
  overflow: hidden;
  padding-left: 8px;
}

.ma-ranking-mobile-ranking-heading-wrapper {
  align-items: center;
  display: flex;
}

.ma-ranking-mobile-ranking-heading {
  font-size: 12px;
  margin: 0;
  overflow: hidden;
}

.ma-mobile-ranking-channel-list {
  margin-top: 20px;
}

.ma-mobile-genre-list-wapper {
  background-color: #212121;
  border-radius: 4px;
  padding: 0 12px;
}

.ma-mobile-genre-list-title {
  font-weight: 700;
  padding-top: 12px;
  text-align: center;
}

.ma-mobile-genre-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  padding-bottom: 12px;
}

.ma-mobile-genre-list-item {
  min-height: 44px;
  width: 50%;
}

.ma-mobile-genre-list-label {
  color: #e6e6e6;
  display: block;
  height: 100%;
}

@media screen and (max-width: 650px) {
  .adapt-mobile .ma-episode-details-readmore-block-section.ma-episode-details-readmore-block-thumbnails {
    margin: 0 -4px 8px;
  }
  .adapt-mobile .ma-episode-details-readmore-block-thumbnail {
    margin: 0 4px 8px;
    width: calc(50% - 8px);
  }
  .adapt-mobile .ma-episode-details-block-wrapper {
    display: block!important;
  }
  .adapt-mobile .ma-episode-details-block-wrapper .ma-episode-details-block-section {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .ma-ranking-type-tablist-item {
    font-size: 12px;
    min-width: 84px;
  }
}

@media screen and (max-width: 480px) {
  .ma-mobile-ranking-channel-list {
    padding: 0 12px;
  }
}